In [2]:
import pandas as pd
import datetime as dt
Real_Prop = pd.read_csv("../data/EXTR_RPSale.csv")
Res_Bldg = pd.read_csv("../data/EXTR_ResBldg.csv")
Parcel = pd.read_csv("../data/EXTR_Parcel.csv", encoding='latin-1')
codes = pd.read_csv('../data/EXTR_LookUp.csv')

/opt/anaconda3/envs/oy-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/envs/oy-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Since we are only interested in 2019 data, using datetime to convert documentdate and filtering for 2019 sales

In [3]:
Real_Prop['DocumentDate'] = pd.to_datetime(Real_Prop['DocumentDate'])
Real_Prop19 = Real_Prop[Real_Prop['DocumentDate'].dt.year == 2019]
Real_Prop19

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
4,3027422,213043,120,2019-12-20,560000,20191226000848,,,,,...,11,6,3,N,N,N,N,1,8,
118,2999169,919715,200,2019-07-08,192000,20190712001080,,,,,...,3,2,3,N,N,N,N,1,3,
144,3000673,894444,200,2019-06-26,185000,20190722001395,,,,,...,3,2,3,N,N,N,N,1,3,
164,3002257,940652,630,2019-07-22,435000,20190730001339,,,,,...,11,6,3,N,N,N,N,1,8,
445,2980836,937630,695,2019-03-28,550000,20190404001008,,,,,...,3,6,3,N,N,N,N,1,8,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089056,3004408,66000,2210,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089057,3004408,66000,2225,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089058,3004408,66000,2195,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089059,3004408,66000,2220,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089082,3009227,192300,170,2019-09-03,1550000,20190909000838,,,,,...,11,6,3,N,N,N,N,1,8,

formatting column names to make them more Pythonic!

In [4]:
Real_Prop19 = Real_Prop19.rename(columns=str.lower)

In [5]:
Real_Prop19

,excisetaxnbr,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,plattype,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,213043,120,2019-12-20,560000,20191226000848,,,,,...,11,6,3,N,N,N,N,1,8,
118,2999169,919715,200,2019-07-08,192000,20190712001080,,,,,...,3,2,3,N,N,N,N,1,3,
144,3000673,894444,200,2019-06-26,185000,20190722001395,,,,,...,3,2,3,N,N,N,N,1,3,
164,3002257,940652,630,2019-07-22,435000,20190730001339,,,,,...,11,6,3,N,N,N,N,1,8,
445,2980836,937630,695,2019-03-28,550000,20190404001008,,,,,...,3,6,3,N,N,N,N,1,8,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089056,3004408,66000,2210,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089057,3004408,66000,2225,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089058,3004408,66000,2195,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089059,3004408,66000,2220,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089082,3009227,192300,170,2019-09-03,1550000,20190909000838,,,,,...,11,6,3,N,N,N,N,1,8,

padding major and minor and adding them together after converting them to string type

In [6]:
Real_Prop19['major'] = Real_Prop19['major'].astype(str)
Real_Prop19['minor'] = Real_Prop19['minor'].astype(str)

In [7]:
def major_padded(row):
    if len(row) == 6:
        return row
    elif len(row) == 5:
        return '0'+row
    elif len(row) == 4:
        return '00'+row
    elif len(row) == 3:
        return '000'+row
    elif len(row) == 2:
        return '0000'+row
    elif len(row) == 1:
        return '00000'+row
    else:
        return '000000'

def minor_padded(row):
    if len(row) == 4:
        return row
    elif len(row) == 3: 
        return '0'+row
    elif len(row) == 2:
        return '00'+row
    elif len(row) == 1:
        return '000'+row
    else:
        return '0000'
    
Real_Prop19['major'] = Real_Prop19.major.apply(major_padded)
Real_Prop19['minor'] = Real_Prop19.minor.apply(minor_padded)
Real_Prop19['major_minor'] = Real_Prop19['major']+Real_Prop19['minor']

In [8]:
Real_Prop19

,excisetaxnbr,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,plattype,...,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning,major_minor
4,3027422,213043,0120,2019-12-20,560000,20191226000848,,,,,...,6,3,N,N,N,N,1,8,,2130430120
118,2999169,919715,0200,2019-07-08,192000,20190712001080,,,,,...,2,3,N,N,N,N,1,3,,9197150200
144,3000673,894444,0200,2019-06-26,185000,20190722001395,,,,,...,2,3,N,N,N,N,1,3,,8944440200
164,3002257,940652,0630,2019-07-22,435000,20190730001339,,,,,...,6,3,N,N,N,N,1,8,,9406520630
445,2980836,937630,0695,2019-03-28,550000,20190404001008,,,,,...,6,3,N,N,N,N,1,8,,9376300695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089056,3004408,066000,2210,2019-08-07,41040000,20190812000849,,,,,...,7,22,N,N,N,N,18,2,45,0660002210
2089057,3004408,066000,2225,2019-08-07,41040000,20190812000849,,,,,...,7,22,N,N,N,N,18,2,45,0660002225
2089058,3004408,066000,2195,2019-08-07,41040000,20190812000849,,,,,...,7,22,N,N,N,N,18,2,45,0660002195
2089059,3004408,066000,2220,2019-08-07,41040000,20190812000849,,,,,...,7,22,N,N,N,N,18,2,45,0660002220
2089082,3009227,192300,0170,2019-09-03,1550000,20190909000838,,,,,...,6,3,N,N,N,N,1,8,,1923000170

moving the major_minor column to column1 position

In [9]:
col_name = 'major_minor'
last_col = Real_Prop19.pop(col_name)
Real_Prop19.insert(1, col_name, last_col)

In [10]:
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,2130430120,213043,0120,2019-12-20,560000,20191226000848,,,,...,11,6,3,N,N,N,N,1,8,
118,2999169,9197150200,919715,0200,2019-07-08,192000,20190712001080,,,,...,3,2,3,N,N,N,N,1,3,
144,3000673,8944440200,894444,0200,2019-06-26,185000,20190722001395,,,,...,3,2,3,N,N,N,N,1,3,
164,3002257,9406520630,940652,0630,2019-07-22,435000,20190730001339,,,,...,11,6,3,N,N,N,N,1,8,
445,2980836,9376300695,937630,0695,2019-03-28,550000,20190404001008,,,,...,3,6,3,N,N,N,N,1,8,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089056,3004408,0660002210,066000,2210,2019-08-07,41040000,20190812000849,,,,...,3,7,22,N,N,N,N,18,2,45
2089057,3004408,0660002225,066000,2225,2019-08-07,41040000,20190812000849,,,,...,3,7,22,N,N,N,N,18,2,45
2089058,3004408,0660002195,066000,2195,2019-08-07,41040000,20190812000849,,,,...,3,7,22,N,N,N,N,18,2,45
2089059,3004408,0660002220,066000,2220,2019-08-07,41040000,20190812000849,,,,...,3,7,22,N,N,N,N,18,2,45
2089082,3009227,1923000170,192300,0170,2019-09-03,1550000,20190909000838,,,,...,11,6,3,N,N,N,N,1,8,

investigating propertytype to see the unique entries

In [11]:
Real_Prop19.propertytype.unique()

array([11,  3, 14, 51,  1, 10,  2, 59, 91, 16,  4, 12,  5,  0, 13, 58, 69,
       50, 99, 63, 18, 45, 79, 83, 65, 94,  6, 53, 68, 44, 54, 39, 85, 64,
       86, 55, 47, 19, 88, 17, 33, 15, 96, 27, 23, 46, 48, 52, 61, 81,  9,
       66, 21, 74])

The only propertytypes we are interested in are:

11 - Household, single family units

12 - Multiple family residence (Residential, 2-4 units)

14 - Residential condominiums

18 - All other residential not elsewhere coded

19 - Vacation and cabin (decided to not include vacation homes, probably first time homebuyers don't really go for these)

In [12]:
Real_Prop19 = Real_Prop19[Real_Prop19['propertytype'].isin([11, 12, 14, 18])]
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,2130430120,213043,0120,2019-12-20,560000,20191226000848,,,,...,11,6,3,N,N,N,N,1,8,
164,3002257,9406520630,940652,0630,2019-07-22,435000,20190730001339,,,,...,11,6,3,N,N,N,N,1,8,
456,2970575,8669201280,866920,1280,2019-01-16,0,20190118000160,,,,...,14,2,3,N,N,N,N,1,3,
497,3025919,0565250340,056525,0340,2019-12-12,311000,20191217001069,,,,...,14,2,3,N,N,N,N,1,3,
517,2975376,0984000450,098400,0450,2019-02-20,409950,20190228000242,,,,...,11,6,3,N,N,N,N,1,8,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088838,2986110,8732340080,873234,0080,2019-04-10,2375000,20190503001267,,,,...,14,2,3,N,N,N,N,1,3,
2088923,3012006,3904970150,390497,0150,2019-09-18,850000,20190925001198,,,,...,11,6,3,N,N,N,N,1,8,
2088953,2974971,2460900090,246090,0090,2019-02-13,686000,20190226000416,,,,...,11,6,3,N,N,N,N,1,8,
2088987,2998779,1438000420,143800,0420,2019-07-09,695000,20190711000444,,,,...,11,6,3,N,N,N,N,1,8,
2089082,3009227,1923000170,192300,0170,2019-09-03,1550000,20190909000838,,,,...,11,6,3,N,N,N,N,1,8,

This has shrunk our data from 61363 entries to 30516

Let's only keep entries that have a Saleprice of more than 0

In [13]:
Real_Prop19 = Real_Prop19[Real_Prop19['saleprice'] > 0]
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,2130430120,213043,0120,2019-12-20,560000,20191226000848,,,,...,11,6,3,N,N,N,N,1,8,
164,3002257,9406520630,940652,0630,2019-07-22,435000,20190730001339,,,,...,11,6,3,N,N,N,N,1,8,
497,3025919,0565250340,056525,0340,2019-12-12,311000,20191217001069,,,,...,14,2,3,N,N,N,N,1,3,
517,2975376,0984000450,098400,0450,2019-02-20,409950,20190228000242,,,,...,11,6,3,N,N,N,N,1,8,
628,2976405,0302000645,030200,0645,2019-03-04,380000,20190306000786,,,,...,11,6,3,N,N,N,N,1,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088838,2986110,8732340080,873234,0080,2019-04-10,2375000,20190503001267,,,,...,14,2,3,N,N,N,N,1,3,
2088923,3012006,3904970150,390497,0150,2019-09-18,850000,20190925001198,,,,...,11,6,3,N,N,N,N,1,8,
2088953,2974971,2460900090,246090,0090,2019-02-13,686000,20190226000416,,,,...,11,6,3,N,N,N,N,1,8,
2088987,2998779,1438000420,143800,0420,2019-07-09,695000,20190711000444,,,,...,11,6,3,N,N,N,N,1,8,
2089082,3009227,1923000170,192300,0170,2019-09-03,1550000,20190909000838,,,,...,11,6,3,N,N,N,N,1,8,

In [14]:
Real_Prop19.saleprice.agg(['min', 'max', 'std', 'mean'])

min     1.000000e+01
max     5.300000e+07
std     6.747552e+05
mean    7.585140e+05
Name: saleprice, dtype: float64

we now have 21372 entries, checking to see the principal use case for these entries

In [15]:
Real_Prop19['principaluse'].unique()

array([6, 2, 7])

6 - Residential

2 - Condominium

7 - Commercial

Lets remove entries relating to commercial use

In [16]:
Real_Prop19 = Real_Prop19[Real_Prop19['principaluse'].isin([6,2])]
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,2130430120,213043,0120,2019-12-20,560000,20191226000848,,,,...,11,6,3,N,N,N,N,1,8,
164,3002257,9406520630,940652,0630,2019-07-22,435000,20190730001339,,,,...,11,6,3,N,N,N,N,1,8,
497,3025919,0565250340,056525,0340,2019-12-12,311000,20191217001069,,,,...,14,2,3,N,N,N,N,1,3,
517,2975376,0984000450,098400,0450,2019-02-20,409950,20190228000242,,,,...,11,6,3,N,N,N,N,1,8,
628,2976405,0302000645,030200,0645,2019-03-04,380000,20190306000786,,,,...,11,6,3,N,N,N,N,1,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088838,2986110,8732340080,873234,0080,2019-04-10,2375000,20190503001267,,,,...,14,2,3,N,N,N,N,1,3,
2088923,3012006,3904970150,390497,0150,2019-09-18,850000,20190925001198,,,,...,11,6,3,N,N,N,N,1,8,
2088953,2974971,2460900090,246090,0090,2019-02-13,686000,20190226000416,,,,...,11,6,3,N,N,N,N,1,8,
2088987,2998779,1438000420,143800,0420,2019-07-09,695000,20190711000444,,,,...,11,6,3,N,N,N,N,1,8,
2089082,3009227,1923000170,192300,0170,2019-09-03,1550000,20190909000838,,,,...,11,6,3,N,N,N,N,1,8,

down to 21260 entries. lets give one last check for property class

In [17]:
Real_Prop19['propertyclass'].unique()

array([8, 3, 7, 9])

7 - Res-Land only, we can remove that from our dataframe to only reflect residential property

keeping only:

8 - Residential- Improved Property

3 - Condominium

9 - Res/Condo mobile

In [18]:
Real_Prop19 = Real_Prop19[Real_Prop19['propertyclass'].isin([8,3,9])]
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,2130430120,213043,0120,2019-12-20,560000,20191226000848,,,,...,11,6,3,N,N,N,N,1,8,
164,3002257,9406520630,940652,0630,2019-07-22,435000,20190730001339,,,,...,11,6,3,N,N,N,N,1,8,
497,3025919,0565250340,056525,0340,2019-12-12,311000,20191217001069,,,,...,14,2,3,N,N,N,N,1,3,
517,2975376,0984000450,098400,0450,2019-02-20,409950,20190228000242,,,,...,11,6,3,N,N,N,N,1,8,
628,2976405,0302000645,030200,0645,2019-03-04,380000,20190306000786,,,,...,11,6,3,N,N,N,N,1,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088838,2986110,8732340080,873234,0080,2019-04-10,2375000,20190503001267,,,,...,14,2,3,N,N,N,N,1,3,
2088923,3012006,3904970150,390497,0150,2019-09-18,850000,20190925001198,,,,...,11,6,3,N,N,N,N,1,8,
2088953,2974971,2460900090,246090,0090,2019-02-13,686000,20190226000416,,,,...,11,6,3,N,N,N,N,1,8,
2088987,2998779,1438000420,143800,0420,2019-07-09,695000,20190711000444,,,,...,11,6,3,N,N,N,N,1,8,
2089082,3009227,1923000170,192300,0170,2019-09-03,1550000,20190909000838,,,,...,11,6,3,N,N,N,N,1,8,

investigated salewarnings and decided to skip and power through the rest.....

In [19]:
Real_Prop19.salewarning.value_counts()

            19598
15            281
26            214
40            184
41            152
            ...
10 15 46        1
13 26           1
12 15 51        1
31              1
23 51           1
Name: salewarning, Length: 98, dtype: int64

Now checking to see if major_minor are unique or not

In [20]:
len(Real_Prop19) - len(Real_Prop19.major_minor.unique())

377

moving along and not worrying about the major_minor repeats, since it could be due to successive sale of the same property in 2019 or other reasons... can explore later..... (flash forwrd -- decided to drop the repeats here)

In [21]:
Real_Prop19['major_minor'].value_counts() > 1

8843900445     True
3122069048     True
1865820170     True
1972202382     True
8847500000     True
              ...
2867300300    False
2770605165    False
3286800160    False
2874600035    False
8707100015    False
Name: major_minor, Length: 20622, dtype: bool

sorting the dataframe based on the document date

In [22]:
Real_Prop19 = Real_Prop19.sort_values(by='documentdate')
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
191874,2968945,4077800202,407780,0202,2019-01-01,1910000,20190103000654,,,,...,11,6,3,N,N,N,N,1,8,
740217,2969148,1279001710,127900,1710,2019-01-01,135000,20190104000880,,,,...,14,2,3,N,N,N,N,1,3,
364451,2970528,6190530110,619053,0110,2019-01-01,1089950,20190117000670,,,,...,11,6,3,N,N,N,N,1,8,
1055892,2969165,0425400040,042540,0040,2019-01-01,412500,20190104000953,,,,...,11,6,3,N,N,N,N,1,8,
959454,2970941,3629910780,362991,0780,2019-01-01,820000,20190122001427,,,,...,11,6,3,N,N,N,N,1,8,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020279,3029940,9514050600,951405,0600,2019-12-31,921000,20200115000600,,,,...,11,6,3,N,N,N,N,1,8,
1661931,3029386,2473350830,247335,0830,2019-12-31,627000,20200109001152,,,,...,11,6,3,N,N,N,N,1,8,
2084034,3029011,5528700230,552870,0230,2019-12-31,870000,20200107000738,,,,...,14,2,3,N,N,N,N,1,3,
1598521,3028733,7694210140,769421,0140,2019-12-31,640000,20200103000855,,,,...,11,6,3,N,N,N,N,1,8,
510020,3029042,8722100825,872210,0825,2019-12-31,1300000,20200107001115,,,,...,11,6,3,N,N,N,N,1,8,

looking into the repeated major_minors to see any trend

In [23]:
Real_Prop19[Real_Prop19['major_minor'].isin(['8843900445','8847500000'])]

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
901520,2975141,8843900445,884390,0445,2019-02-14,699900,20190226001189,,,,...,11,6,3,N,N,N,N,1,8,
249613,2975737,8843900445,884390,0445,2019-02-14,815000,20190228001472,,,,...,11,6,3,N,N,N,N,1,8,
1858266,2975726,8843900445,884390,0445,2019-02-14,776900,20190228001436,,,,...,11,6,3,N,N,N,N,1,8,
1748638,2975973,8843900445,884390,0445,2019-02-15,782900,20190301000951,,,,...,11,6,3,N,N,N,N,1,8,
1982370,2976878,8847500000,884750,0000,2019-03-01,784684,20190311000330,,,,...,14,2,3,N,N,N,N,1,3,43
1181970,2976965,8843900445,884390,0445,2019-03-01,706900,20190311000874,,,,...,11,6,3,N,N,N,N,1,8,
1738380,2980974,8843900445,884390,0445,2019-03-21,799900,20190405000497,,,,...,11,6,3,N,N,N,N,1,8,
967675,2993692,8847500000,884750,0000,2019-06-11,764990,20190614000861,,,,...,14,2,3,N,N,N,N,1,3,
1260009,3020478,8847500000,884750,0000,2019-11-05,698654,20191114000503,,,,...,14,2,3,N,N,N,N,1,3,

Lets drop the blank columns 'volume', 'page', 'platnbr', 'plattype', 'platlot', 'platblock', 'sellername', 'buyername'

In [24]:
Real_Prop19.drop_duplicates(subset='major_minor', keep='last', inplace=True)

In [25]:
cols_to_drop = ['volume', 'page', 'platnbr', 'plattype', 'platlot', 'platblock', 'sellername', 'buyername']
Real_Prop19.drop(columns=cols_to_drop, inplace=True)

In [26]:
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
191874,2968945,4077800202,407780,0202,2019-01-01,1910000,20190103000654,11,6,3,N,N,N,N,1,8,
740217,2969148,1279001710,127900,1710,2019-01-01,135000,20190104000880,14,2,3,N,N,N,N,1,3,
364451,2970528,6190530110,619053,0110,2019-01-01,1089950,20190117000670,11,6,3,N,N,N,N,1,8,
1055892,2969165,0425400040,042540,0040,2019-01-01,412500,20190104000953,11,6,3,N,N,N,N,1,8,
1578500,2990693,2607870010,260787,0010,2019-01-01,400000,,11,2,3,N,N,N,N,1,3,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020279,3029940,9514050600,951405,0600,2019-12-31,921000,20200115000600,11,6,3,N,N,N,N,1,8,
1661931,3029386,2473350830,247335,0830,2019-12-31,627000,20200109001152,11,6,3,N,N,N,N,1,8,
2084034,3029011,5528700230,552870,0230,2019-12-31,870000,20200107000738,14,2,3,N,N,N,N,1,3,
1598521,3028733,7694210140,769421,0140,2019-12-31,640000,20200103000855,11,6,3,N,N,N,N,1,8,
510020,3029042,8722100825,872210,0825,2019-12-31,1300000,20200107001115,11,6,3,N,N,N,N,1,8,

At present we have 20999 entries that satisfy all our conditions for residential propert sales in King county in 2019

Now bringing in the Residential Buildings table to mearge with our current datframe for features of the properties we have narrowed down.

We'll first clean up column names, pad up major and minor and combine them.

In [27]:
Res_Bldg.rename(columns=str.lower, inplace=True)

In [28]:
Res_Bldg['major'] = Res_Bldg['major'].astype(str)
Res_Bldg['minor'] = Res_Bldg['minor'].astype(str)

In [29]:
Res_Bldg['major'] = Res_Bldg['major'].apply(major_padded)
Res_Bldg['minor'] = Res_Bldg['minor'].apply(minor_padded)

In [30]:
Res_Bldg['major_minor'] = Res_Bldg['major']+Res_Bldg['minor']

In [31]:
col_name = 'major_minor'
last_col = Res_Bldg.pop(col_name)
Res_Bldg.insert(0, col_name, last_col)

In [32]:
Res_Bldg.head(2)

,major_minor,major,minor,bldgnbr,nbrlivingunits,address,buildingnumber,fraction,directionprefix,streetname,...,fpmultistory,fpfreestanding,fpadditional,yrbuilt,yrrenovated,pcntcomplete,obsolescence,pcntnetcondition,condition,addnlcost
0,0461000935,046100,0935,1,1,7349 10TH AVE NW 98117,7349,,,10TH,...,0,0,0,1927,0,0,0,0,3,0
1,0461001165,046100,1165,1,1,7342 11TH AVE NW 98117,7342,,,11TH,...,0,0,0,2019,0,53,0,0,3,0

looks like residential buildings don't have condominiums (Minor=0000), we'll have to be prepared to loose more sale data :(

In [33]:
sum(Res_Bldg.minor == '0000')

0

In [34]:
Res_Bldg.loc[1]

major_minor                          0461001165
major                                    046100
minor                                      1165
bldgnbr                                       1
nbrlivingunits                                1
address               7342   11TH AVE NW  98117
buildingnumber                            7342
fraction
directionprefix
streetname            11TH
streettype                               AVE
directionsuffix                              NW
zipcode                                   98117
stories                                       2
bldggrade                                     8
bldggradevar                                  0
sqft1stfloor                               1600
sqfthalffloor                                 0
sqft2ndfloor                               1560
sqftupperfloor                                0
sqftunfinfull                                 0
sqftunfinhalf                                 0
sqfttotliving                              3790
sqfttotbasement                             940
sqftfinbasement                             630
finbasementgrade                              8
sqftgaragebasement                          310
sqftgarageattached                            0
daylightbasement
sqftopenporch                                 0
sqftenclosedporch                             0
sqftdeck                                    480
heatsystem                                    5
heatsource                                    2
brickstone                                    0
viewutilization
bedrooms                                      5
bathhalfcount                                 1
bath3qtrcount                                 0
bathfullcount                                 3
fpsinglestory                                 1
fpmultistory                                  0
fpfreestanding                                0
fpadditional                                  0
yrbuilt                                    2019
yrrenovated                                   0
pcntcomplete                                 53
obsolescence                                  0
pcntnetcondition                              0
condition                                     3
addnlcost                                     0
Name: 1, dtype: object

In [35]:
Res_Bldg.columns

Index(['major_minor', 'major', 'minor', 'bldgnbr', 'nbrlivingunits', 'address',
       'buildingnumber', 'fraction', 'directionprefix', 'streetname',
       'streettype', 'directionsuffix', 'zipcode', 'stories', 'bldggrade',
       'bldggradevar', 'sqft1stfloor', 'sqfthalffloor', 'sqft2ndfloor',
       'sqftupperfloor', 'sqftunfinfull', 'sqftunfinhalf', 'sqfttotliving',
       'sqfttotbasement', 'sqftfinbasement', 'finbasementgrade',
       'sqftgaragebasement', 'sqftgarageattached', 'daylightbasement',
       'sqftopenporch', 'sqftenclosedporch', 'sqftdeck', 'heatsystem',
       'heatsource', 'brickstone', 'viewutilization', 'bedrooms',
       'bathhalfcount', 'bath3qtrcount', 'bathfullcount', 'fpsinglestory',
       'fpmultistory', 'fpfreestanding', 'fpadditional', 'yrbuilt',
       'yrrenovated', 'pcntcomplete', 'obsolescence', 'pcntnetcondition',
       'condition', 'addnlcost'],
      dtype='object')

merging together Property sales in 2019 `Real_Prop19` with `Res_Bldg` purely based on their `major_minor`

In [36]:
prop_res = Real_Prop19.merge(Res_Bldg, on='major_minor', suffixes=("", "_resbldg"))

In [37]:
prop_res.describe()

,excisetaxnbr,saleprice,propertytype,principaluse,saleinstrument,salereason,propertyclass,bldgnbr,nbrlivingunits,stories,...,fpmultistory,fpfreestanding,fpadditional,yrbuilt,yrrenovated,pcntcomplete,obsolescence,pcntnetcondition,condition,addnlcost
count,1.842000e+04,1.842000e+04,18420.000000,18420.0,18420.000000,18420.000000,18420.0,18420.000000,18420.000000,18420.000000,...,18420.000000,18420.000000,18420.000000,18420.000000,18420.000000,18420.000000,18420.000000,18420.000000,18420.000000,18420.000000
mean,2.999495e+06,7.965495e+05,11.027904,6.0,3.080565,1.001846,8.0,1.007709,1.014767,1.517101,...,0.303420,0.068187,0.175353,1974.662486,100.657763,0.267101,0.102497,0.004886,3.460206,715.617101
std,1.664883e+04,5.918905e+05,0.310664,0.0,1.221548,0.177136,0.0,0.101272,0.140188,0.534372,...,0.500241,0.260962,0.398815,30.389759,437.288542,4.646596,2.222057,0.378271,0.690808,2569.591219
min,2.968844e+06,1.000000e+01,11.000000,6.0,2.000000,1.000000,8.0,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,1900.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,2.985139e+06,4.700000e+05,11.000000,6.0,3.000000,1.000000,8.0,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,1954.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
50%,3.000280e+06,6.570000e+05,11.000000,6.0,3.000000,1.000000,8.0,1.000000,1.000000,1.500000,...,0.000000,0.000000,0.000000,1978.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
75%,3.012881e+06,9.070000e+05,11.000000,6.0,3.000000,1.000000,8.0,1.000000,1.000000,2.000000,...,1.000000,0.000000,0.000000,2001.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000
max,3.050564e+06,1.605000e+07,18.000000,6.0,26.000000,18.000000,8.0,7.000000,3.000000,3.500000,...,5.000000,2.000000,3.000000,2020.000000,2020.000000,100.000000,99.000000,40.000000,5.000000,60000.000000

down to 18420 entries now...

checking if there are still duplicates in these our merge dataframe (repeats due to Residential building data)

In [38]:
prop_res.major_minor.value_counts()

6196600360    4
7549801930    3
7978200080    3
8586400026    3
8019200935    3
             ..
5089700760    1
3025049050    1
2473100300    1
1788800020    1
8707100015    1
Name: major_minor, Length: 18293, dtype: int64

In [39]:
prop_res[prop_res['major_minor'].isin(['6196600360', '7978200080', '1498301040'])]

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,propertytype,principaluse,saleinstrument,...,fpmultistory,fpfreestanding,fpadditional,yrbuilt,yrrenovated,pcntcomplete,obsolescence,pcntnetcondition,condition,addnlcost
290,2970236,7978200080,797820,0080,2019-01-10,435000,20190115001718,11,6,3,...,0,0,0,2018,0,0,0,0,3,0
291,2970236,7978200080,797820,0080,2019-01-10,435000,20190115001718,11,6,3,...,0,0,0,1954,0,0,0,0,4,0
292,2970236,7978200080,797820,0080,2019-01-10,435000,20190115001718,11,6,3,...,0,0,0,2018,0,0,0,0,3,0
820,2972255,6196600360,619660,0360,2019-01-28,995000,,11,6,3,...,0,0,0,1964,0,0,0,0,4,0
821,2972255,6196600360,619660,0360,2019-01-28,995000,,11,6,3,...,0,0,0,1948,1999,0,0,0,3,0
822,2972255,6196600360,619660,0360,2019-01-28,995000,,11,6,3,...,0,0,0,1978,0,0,0,0,3,0
823,2972255,6196600360,619660,0360,2019-01-28,995000,,11,6,3,...,0,0,0,1956,0,0,0,0,4,0
9496,2999967,1498301040,149830,1040,2019-07-16,1244600,20190717001839,12,6,3,...,0,0,0,1913,0,0,0,0,3,0
9497,2999967,1498301040,149830,1040,2019-07-16,1244600,20190717001839,12,6,3,...,1,0,1,1904,0,0,0,0,4,0
9498,2999967,1498301040,149830,1040,2019-07-16,1244600,20190717001839,12,6,3,...,0,0,0,1913,0,0,0,0,4,0

droppingteh duplicates again

In [40]:
prop_res.drop_duplicates(subset='major_minor', inplace=True)
prop_res.shape

(18293, 67)

Down to 18293 entries, no duplicates! just Residential homes sold in king county in 2019 (no Condos either)

bringing in parcel table and cleaning it up

In [41]:
Parcel.rename(columns=str.lower, inplace=True)
Parcel['major'] = Parcel['major'].astype(str)
Parcel['minor'] = Parcel['minor'].astype(str)
Parcel['major'] = Parcel['major'].apply(major_padded)
Parcel['minor'] = Parcel['minor'].apply(minor_padded)
Parcel['major_minor'] = Parcel['major']+Parcel['minor']
last_col = Parcel.pop(col_name)
Parcel.insert(0, col_name, last_col)

In [42]:
Parcel.columns

Index(['major_minor', 'major', 'minor', 'propname', 'platname', 'platlot',
       'platblock', 'range', 'township', 'section', 'quartersection',
       'proptype', 'area', 'subarea', 'specarea', 'specsubarea',
       'districtname', 'levycode', 'currentzoning', 'hbuasifvacant',
       'hbuasimproved', 'presentuse', 'sqftlot', 'watersystem', 'sewersystem',
       'access', 'topography', 'streetsurface', 'restrictiveszshape',
       'inadequateparking', 'pcntunusable', 'unbuildable', 'mtrainier',
       'olympics', 'cascades', 'territorial', 'seattleskyline', 'pugetsound',
       'lakewashington', 'lakesammamish', 'smalllakerivercreek', 'otherview',
       'wfntlocation', 'wfntfootage', 'wfntbank', 'wfntpoorquality',
       'wfntrestrictedaccess', 'wfntaccessrights', 'wfntproximityinfluence',
       'tidelandshoreland', 'lotdepthfactor', 'trafficnoise', 'airportnoise',
       'powerlines', 'othernuisances', 'nbrbldgsites', 'contamination',
       'dnrlease', 'adjacentgolffairway', 'adjacentgreenbelt', 'historicsite',
       'currentusedesignation', 'nativegrowthprotesmt', 'easements',
       'otherdesignation', 'deedrestrictions', 'developmentrightspurch',
       'coalminehazard', 'criticaldrainage', 'erosionhazard', 'landfillbuffer',
       'hundredyrfloodplain', 'seismichazard', 'landslidehazard',
       'steepslopehazard', 'stream', 'wetland', 'speciesofconcern',
       'sensitiveareatract', 'waterproblems', 'transpconcurrency',
       'otherproblems'],
      dtype='object')

In [43]:
Parcel.loc[1]

major_minor           1326069228
major                     132606
minor                       9228
propname
platname                     NaN
                         ...
speciesofconcern               N
sensitiveareatract             N
waterproblems                  N
transpconcurrency              N
otherproblems                  N
Name: 1, Length: 82, dtype: object

In [44]:
prop_res = prop_res.merge(Parcel, on='major_minor', suffixes=("", "_parcel"))

In [45]:
prop_res.head()

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,propertytype,principaluse,saleinstrument,...,seismichazard,landslidehazard,steepslopehazard,stream,wetland,speciesofconcern,sensitiveareatract,waterproblems,transpconcurrency,otherproblems
0,2968945,4077800202,407780,0202,2019-01-01,1910000,20190103000654,11,6,3,...,N,N,N,N,N,N,N,N,N,N
1,2970528,6190530110,619053,0110,2019-01-01,1089950,20190117000670,11,6,3,...,N,N,N,N,N,N,N,N,N,N
2,2969165,0425400040,042540,0040,2019-01-01,412500,20190104000953,11,6,3,...,N,N,N,N,N,N,N,N,N,N
3,2969387,2525059126,252505,9126,2019-01-01,541000,20190108000677,11,6,3,...,N,N,N,N,N,N,N,N,N,N
4,2968880,1250203365,125020,3365,2019-01-02,1020000,20190103000222,11,6,3,...,N,N,N,N,N,N,N,N,N,N

In [46]:
prop_res.shape

(18293, 148)

no loss of entries here, still at 18293!

In [47]:
prop_res['proptype'].unique()

array(['R'], dtype=object)

R - Residential, propert type included in this database only reflects residential property. That's a good sign!

In [48]:
prop_res.describe()

,excisetaxnbr,saleprice,propertytype,principaluse,saleinstrument,salereason,propertyclass,bldgnbr,nbrlivingunits,stories,...,wfntpoorquality,wfntrestrictedaccess,tidelandshoreland,lotdepthfactor,trafficnoise,airportnoise,nbrbldgsites,contamination,historicsite,currentusedesignation
count,1.829300e+04,1.829300e+04,18293.000000,18293.0,18293.000000,18293.000000,18293.0,18293.000000,18293.000000,18293.000000,...,18293.000000,18293.000000,18293.000000,18293.000000,18293.000000,18293.0,18293.000000,18293.0,18293.000000,18293.000000
mean,2.999516e+06,7.947806e+05,11.027552,6.0,3.076696,1.001859,8.0,1.003389,1.014158,1.518778,...,0.000547,0.005412,0.014869,0.054010,0.199257,0.0,0.005904,0.0,0.000929,0.003225
std,1.662625e+04,5.862317e+05,0.310903,0.0,1.186828,0.177750,0.0,0.074597,0.137401,0.534574,...,0.023375,0.107774,0.170853,2.121509,0.544073,0.0,0.106984,0.0,0.051748,0.097197
min,2.968844e+06,1.000000e+01,11.000000,6.0,2.000000,1.000000,8.0,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
25%,2.985463e+06,4.700000e+05,11.000000,6.0,3.000000,1.000000,8.0,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
50%,3.000295e+06,6.551010e+05,11.000000,6.0,3.000000,1.000000,8.0,1.000000,1.000000,1.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
75%,3.012868e+06,9.050000e+05,11.000000,6.0,3.000000,1.000000,8.0,1.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
max,3.050564e+06,1.605000e+07,18.000000,6.0,26.000000,18.000000,8.0,7.000000,3.000000,3.500000,...,1.000000,3.000000,3.000000,105.000000,3.000000,0.0,5.000000,0.0,3.000000,3.000000

total count 18293

choosing all the features of a residential property that would have a bearing on its saleprice:

**Residential building features:** (Specific to the unit)

total living square feet, year built, year renovated, bedrooms, bath(half, quarter, full), porch square feet(open, enclosed), deck, total bsement square feet, finished basement grade, daylight basement, heat system, heat source, condition

**Parcel features:** (specifi to the location of the lot)

HBU as is vacant, parking, transportation concurrency, views of Mt.Rainier, Olympics, Cascades, Territorial, Seattle skyline, Puget sound, Lake washington, Lake sammamish, small lake/river/creek, waterfront location, waterfront access rights trffic noise, airport noise, power lines, other nuisances, adjacent greenbelt.  (may want to include hazard metrics)

In [49]:
df = prop_res.loc[:, ['saleprice', 'sqfttotliving', 'yrbuilt', 'yrrenovated', 'bedrooms',
                      'zipcode', 'sqfttotbasement', 'sqftfinbasement', 'sqftopenporch', 
                      'sqftenclosedporch', 'sqftdeck','heatsystem', 'heatsource', 'bathhalfcount', 
                      'bath3qtrcount', 'bathfullcount','condition', 'viewutilization', 'sqftgarageattached',
                      'daylightbasement', 'finbasementgrade', 'hbuasifvacant', 'inadequateparking',
                      'mtrainier', 'olympics', 'cascades', 'territorial', 'seattleskyline', 'pugetsound',
                      'lakewashington', 'lakesammamish', 'smalllakerivercreek', 'otherview', 'wfntlocation',
                      'trafficnoise', 'airportnoise', 'powerlines', 'othernuisances', 'adjacentgreenbelt']]

In [50]:
df.head()

,saleprice,sqfttotliving,yrbuilt,yrrenovated,bedrooms,zipcode,sqfttotbasement,sqftfinbasement,sqftopenporch,sqftenclosedporch,...,lakewashington,lakesammamish,smalllakerivercreek,otherview,wfntlocation,trafficnoise,airportnoise,powerlines,othernuisances,adjacentgreenbelt
0,1910000,3990,1952,2019,6,98125,1360,1360,110,0,...,1,0,0,0,0,0,0,N,N,N
1,1089950,3920,2018,0,5,98028,930,930,550,0,...,0,0,0,0,0,0,0,N,N,N
2,412500,2280,1958,0,4,98056,1140,1140,0,0,...,0,0,0,0,0,1,0,N,N,N
3,541000,1030,1965,0,3,98052,0,0,210,0,...,0,0,0,0,0,0,0,N,N,N
4,1020000,2410,1939,0,3,98144,1070,1070,0,0,...,4,0,0,0,0,1,0,N,N,N

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18293 entries, 0 to 18292
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   saleprice            18293 non-null  int64
 1   sqfttotliving        18293 non-null  int64
 2   yrbuilt              18293 non-null  int64
 3   yrrenovated          18293 non-null  int64
 4   bedrooms             18293 non-null  int64
 5   zipcode              15907 non-null  object
 6   sqfttotbasement      18293 non-null  int64
 7   sqftfinbasement      18293 non-null  int64
 8   sqftopenporch        18293 non-null  int64
 9   sqftenclosedporch    18293 non-null  int64
 10  sqftdeck             18293 non-null  int64
 11  heatsystem           18293 non-null  int64
 12  heatsource           18293 non-null  int64
 13  bathhalfcount        18293 non-null  int64
 14  bath3qtrcount        18293 non-null  int64
 15  bathfullcount        18293 non-null  int64
 16  condition            18293 non-null  int64
 17  viewutilization      18293 non-null  object
 18  sqftgarageattached   18293 non-null  int64
 19  daylightbasement     18293 non-null  object
 20  finbasementgrade     18293 non-null  int64
 21  hbuasifvacant        18293 non-null  int64
 22  inadequateparking    18293 non-null  int64
 23  mtrainier            18293 non-null  int64
 24  olympics             18293 non-null  int64
 25  cascades             18293 non-null  int64
 26  territorial          18293 non-null  int64
 27  seattleskyline       18293 non-null  int64
 28  pugetsound           18293 non-null  int64
 29  lakewashington       18293 non-null  int64
 30  lakesammamish        18293 non-null  int64
 31  smalllakerivercreek  18293 non-null  int64
 32  otherview            18293 non-null  int64
 33  wfntlocation         18293 non-null  int64
 34  trafficnoise         18293 non-null  int64
 35  airportnoise         18293 non-null  int64
 36  powerlines           18293 non-null  object
 37  othernuisances       18293 non-null  object
 38  adjacentgreenbelt    18293 non-null  object
dtypes: int64(33), object(6)
memory usage: 5.6+ MB

In [130]:
df.describe()

,saleprice,sqfttotliving,yrbuilt,yrrenovated,bedrooms,sqfttotbasement,sqftfinbasement,sqftopenporch,sqftenclosedporch,sqftdeck,...,territorial,seattleskyline,pugetsound,lakewashington,lakesammamish,smalllakerivercreek,otherview,wfntlocation,trafficnoise,airportnoise
count,1.829300e+04,18293.000000,18293.000000,18293.000000,18293.000000,18293.000000,18293.000000,18293.000000,18293.000000,18293.000000,...,18293.000000,18293.000000,18293.000000,18293.000000,18293.000000,18293.000000,18293.000000,18293.000000,18293.000000,18293.0
mean,7.947806e+05,2149.304871,1974.732521,99.939157,3.435740,483.548570,304.776199,72.816706,5.377303,137.064396,...,0.246160,0.024654,0.057508,0.061718,0.014049,0.021976,0.014650,0.105286,0.199257,0.0
std,5.862317e+05,962.898244,30.337347,435.816271,0.920872,582.097386,453.810898,150.235486,36.652649,213.103559,...,0.777602,0.262234,0.386005,0.408426,0.203752,0.256041,0.189674,0.863694,0.544073,0.0
min,1.000000e+01,290.000000,1900.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,4.700000e+05,1460.000000,1954.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,6.551010e+05,1970.000000,1978.000000,0.000000,3.000000,0.000000,0.000000,20.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,9.050000e+05,2630.000000,2001.000000,0.000000,4.000000,960.000000,580.000000,100.000000,0.000000,220.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,1.605000e+07,10910.000000,2020.000000,2020.000000,13.000000,5060.000000,4590.000000,11570.000000,1840.000000,2250.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,9.000000,3.000000,0.0

In [131]:
df.corr()

,saleprice,sqfttotliving,yrbuilt,yrrenovated,bedrooms,sqfttotbasement,sqftfinbasement,sqftopenporch,sqftenclosedporch,sqftdeck,...,territorial,seattleskyline,pugetsound,lakewashington,lakesammamish,smalllakerivercreek,otherview,wfntlocation,trafficnoise,airportnoise
saleprice,1.000000,0.629960,0.083728,0.116650,0.279942,0.274627,0.293731,0.273600,0.007676,0.212555,...,0.312533,0.181434,0.106470,0.375150,0.158958,0.041940,0.098647,0.259750,-0.001479,NaN
sqfttotliving,0.629960,1.000000,0.335873,0.052039,0.618696,0.309884,0.415486,0.357653,-0.003029,0.244592,...,0.240496,0.099264,0.088531,0.174054,0.097847,0.030563,0.085242,0.092764,-0.056715,NaN
yrbuilt,0.083728,0.335873,1.000000,-0.252578,0.200411,-0.224629,-0.114049,0.150373,-0.082272,0.044519,...,-0.059007,-0.020962,-0.067391,-0.044099,0.015510,-0.006971,0.025544,-0.007644,-0.097873,NaN
yrrenovated,0.116650,0.052039,-0.252578,1.000000,0.016790,0.070194,0.087986,0.020346,0.019971,0.057851,...,0.096305,0.036883,0.075409,0.070361,0.029599,0.018536,-0.001783,0.050285,0.037215,NaN
bedrooms,0.279942,0.618696,0.200411,0.016790,1.000000,0.220708,0.296155,0.174940,-0.017515,0.100441,...,0.057783,0.022974,-0.008674,0.050736,0.024770,-0.020906,0.036689,-0.019056,-0.043567,NaN
sqfttotbasement,0.274627,0.309884,-0.224629,0.070194,0.220708,1.000000,0.853537,-0.005648,0.014929,0.274132,...,0.273246,0.119390,0.136662,0.183785,0.061184,0.012237,0.047266,0.031418,0.061421,NaN
sqftfinbasement,0.293731,0.415486,-0.114049,0.087986,0.296155,0.853537,1.000000,0.014079,0.007904,0.296975,...,0.275220,0.119810,0.138720,0.188167,0.076797,0.017357,0.051223,0.048025,0.036694,NaN
sqftopenporch,0.273600,0.357653,0.150373,0.020346,0.174940,-0.005648,0.014079,1.000000,-0.008911,-0.012141,...,0.064310,0.016887,0.007408,0.046983,0.034129,0.055628,0.037727,0.102712,-0.028597,NaN
sqftenclosedporch,0.007676,-0.003029,-0.082272,0.019971,-0.017515,0.014929,0.007904,-0.008911,1.000000,0.014760,...,0.012740,0.004919,-0.001317,-0.000332,0.016676,0.004010,-0.002053,0.003418,0.030753,NaN
sqftdeck,0.212555,0.244592,0.044519,0.057851,0.100441,0.274132,0.296975,-0.012141,0.014760,1.000000,...,0.245064,0.099870,0.139971,0.148900,0.086503,0.087625,0.051123,0.117840,-0.005267,NaN
heatsystem,0.137244,0.227525,0.178416,-0.001193,0.168008,0.095200,0.101414,0.083260,-0.002079,0.121227,...,0.050631,0.016946,0.015386,0.025758,0.010345,0.006562,0.017724,0.008584,-0.018312,NaN
heatsource,-0.052527,-0.029455,0.153384,0.038291,-0.046377,-0.098577,-0.020566,0.006907,0.014341,0.076459,...,-0.022209,-0.012460,-0.013204,-0.037509,0.003667,0.021989,0.004943,0.010214,-0.007623,NaN
bathhalfcount,0.218909,0.355068,0.390476,-0.054996,0.177216,-0.057833,-0.023241,0.135803,-0.019830,0.063750,...,0.043582,0.024357,-0.004619,0.036404,0.031092,-0.002723,0.022402,0.025141,-0.043390,NaN
bath3qtrcount,0.234477,0.263977,0.048808,0.048519,0.215472,0.285761,0.313822,0.074835,0.008862,0.168530,...,0.104233,0.039781,0.079421,0.085922,0.034896,0.025224,0.018309,0.056513,-0.000303,NaN
bathfullcount,0.325288,0.568801,0.393462,0.038133,0.438646,0.055916,0.126058,0.216970,-0.022983,0.070786,...,0.078680,0.034366,-0.012836,0.055664,0.042492,-0.007375,0.045055,0.016977,-0.037965,NaN
condition,-0.043637,-0.106696,-0.342769,-0.090368,-0.000161,0.094291,0.136141,-0.075628,0.012171,0.082202,...,0.019481,0.013463,0.018230,0.012662,-0.010385,0.008115,-0.002013,0.008256,0.003619,NaN
sqftgarageattached,0.171776,0.456309,0.427590,-0.088992,0.280272,-0.331527,-0.165987,0.201377,-0.034294,0.021775,...,-0.006991,-0.019512,-0.036531,-0.002417,0.034366,-0.001576,0.034217,0.027394,-0.122918,NaN
finbasementgrade,0.235494,0.241750,-0.037948,0.052852,0.161556,0.804652,0.826562,-0.044338,-0.001213,0.266210,...,0.220675,0.097872,0.109657,0.148340,0.056390,0.010756,0.033883,0.028348,0.060371,NaN
hbuasifvacant,-0.009956,-0.036264,-0.086453,0.008686,-0.011077,0.021211,-0.001844,-0.011428,0.013931,-0.024128,...,-0.004520,-0.007832,0.000588,-0.014166,0.000103,-0.004105,-0.010447,-0.012039,0.072055,NaN
inadequateparking,0.049376,0.022528,0.033775,0.014924,0.000404,-0.007173,0.000701,0.015012,0.003019,0.008987,...,-0.010725,0.010117,-0.004162,-0.000726,-0.073531,-0.005729,0.019820,-0.005392,0.041599,NaN
mtrainier,0.076261,0.065160,-0.005720,0.040119,0.015546,0.042309,0.052209,0.030757,0.028635,0.062993,...,0.239637,0.102772,0.103296,0.098824,-0.006247,0.043261,0.006781,0.077717,-0.013967,NaN
olympics,0.154945,0.126138,-0.045072,0.053250,0.024748,0.162034,0.163403,0.033178,0.003618,0.138850,...,0.472105,0.251038,0.634951,0.117817,-0.001794,0.004999,0.115675,0.027791,-0.003402,NaN
cascades,0.125105,0.131224,-0.026904,0.041741,0.045932,0.130881,0.130497,0.027149,0.007468,0.111032,...,0.464892,0.102709,0.037922,0.281427,0.151164,0.037353,0.097620,0.026979,0.001962,NaN
territorial,0.312533,0.240496,-0.059007,0.096305,0.057783,0.273246,0.275220,0.064310,0.012740,0.245064,...,1.000000,0.306162,0.469364,0.474934,0.193481,0.069481,0.143456,0.190873,0.006170,NaN
seattleskyline,0.181434,0.099264,-0.020962,0.036883,0.022974,0.119390,0.119810,0.016887,0.004919,0.099870,...,0.306162,1.000000,0.136674,0.193027,0.004772,0.006586,0.147713,0.003021,-0.000714,NaN
pugetsound,0.106470,0.088531,-0.067391,0.075409,-0.008674,0.136662,0.138720,0.007408,-0.001317,0.139971,...,0.469364,0.136674,1.000000,-0.013498,-0.010273,-0.001172,0.001932,0.074813,-0.012916,NaN
lakewashington,0.375150,0.174054,-0.044099,0.070361,0.050736,0.183785,0.188167,0.046983,-0.000332,0.148900,...,0.474934,0.193027,-0.013498,1.000000,-0.005164,-0.012970,0.092771,0.248758,0.038389,NaN
lakesammamish,0.158958,0.097847,0.015510,0.029599,0.024770,0.061184,0.076797,0.034129,0.016676,0.086503,...,0.193481,0.004772,-0.010273,-0.005164,1.000000,-0.005918,0.014478,0.215576,0.008281,NaN
smalllakerivercreek,0.041940,0.030563,-0.006971,0.018536,-0.020906,0.012237,0.017357,0.055628,0.004010,0.087625,...,0.069481,0.006586,-0.001172,-0.012970,-0.005918,1.000000,0.002376,0.588285,-0.002394,NaN
otherview,0.098647,0.085242,0.025544,-0.001783,0.036689,0.047266,0.051223,0.037727,-0.002053,0.051123,...,0.143456,0.147713,0.001932,0.092771,0.014478,0.002376,1.000000,0.045313,-0.004980,NaN
wfntlocation,0.259750,0.092764,-0.007644,0.050285,-0.019056,0.031418,0.048025,0.102712,0.003418,0.117840,...,0.190873,0.003021,0.074813,0.248758,0.215576,0.588285,0.045313,1.000000,0.001190,NaN
trafficnoise,-0.001479,-0.056715,-0.097873,0.037215,-0.043567,0.061421,0.036694,-0.028597,0.030753,-0.005267,...,0.006170,-0.000714,-0.012916,0.038389,0.008281,-0.002394,-0.004980,0.001190,1.000000,NaN
airportnoise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df.to_csv('../data/our_dataframe.csv')

In [53]:
prop_res.to_csv('../data/df_with_all_columns.csv')