In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
sys.path

['/Users/LeanaCritchell/Documents/Flatiron/Course_Material/module_2/PROJECT/king-county-housing-prices-mod2/exploratory/lmc_notebooks',
 '/opt/anaconda3/envs/oy-env/lib/python38.zip',
 '/opt/anaconda3/envs/oy-env/lib/python3.8',
 '/opt/anaconda3/envs/oy-env/lib/python3.8/lib-dynload',
 '',
 '/opt/anaconda3/envs/oy-env/lib/python3.8/site-packages',
 '/opt/anaconda3/envs/oy-env/lib/python3.8/site-packages/IPython/extensions',
 '/Users/LeanaCritchell/.ipython',
 '/Users/LeanaCritchell/Documents/Flatiron/Course_Material/module_2/PROJECT/king-county-housing-prices-mod2']

In [4]:
from src.data import data_collection

ModuleNotFoundError: No module named 'src.data'

In [6]:
data_collection.download_data_and_load_into_sql()

NameError: name 'data_collection' is not defined

In [5]:
import pandas as pd

In [7]:
df = pd.read_csv('../../asp_original')

In [8]:
df.head()

,Unnamed: 0,documentdate,saleprice,propertytype,principaluse,saleinstrument,currentuseland,historicproperty,salereason,propertyclass,...,waterfrontpoorqualtiy,waterfrontrestrictedaccess,waterfrontaccessrights,waterfrontproximityinfluence,tidelandshoreland,lotdepthfactopr,trafficnoise,airportnoise,powerlines,othernuisances
0,0,2019-10-05,690000.0,11,6,3,N,N,1,8,...,0,0,0,N,N,0.0,0,1,0,N
1,1,2019-01-04,381000.0,11,6,3,N,N,1,8,...,0,0,0,N,N,0.0,0,0,0,N
2,2,2019-11-09,845000.0,11,6,3,N,N,1,8,...,0,0,0,N,N,0.0,0,1,0,N
3,3,2019-08-07,350000.0,11,6,3,N,N,1,8,...,0,0,0,N,N,0.0,0,2,0,N
4,4,2019-08-12,778455.0,11,6,3,N,N,1,8,...,0,0,0,N,N,0.0,0,2,0,N