## Note to self:  turn this into a function or short script file to recreate quickly

In [2]:
import pandas as pd
import datetime as dt
Real_Prop = pd.read_csv("../data/EXTR_RPSale.csv")
Res_Bldg = pd.read_csv("../data/EXTR_ResBldg.csv")
Parcel = pd.read_csv("../data/EXTR_Parcel.csv", encoding='latin-1')
codes = pd.read_csv('../data/EXTR_LookUp.csv')

/opt/anaconda3/envs/oy-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/envs/oy-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Since we are only interested in 2019 data, using datetime to convert documentdate and filtering for 2019 sales

In [3]:
Real_Prop['DocumentDate'] = pd.to_datetime(Real_Prop['DocumentDate'])
Real_Prop19 = Real_Prop[Real_Prop['DocumentDate'].dt.year == 2019]
Real_Prop19

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
4,3027422,213043,120,2019-12-20,560000,20191226000848,,,,,...,11,6,3,N,N,N,N,1,8,
118,2999169,919715,200,2019-07-08,192000,20190712001080,,,,,...,3,2,3,N,N,N,N,1,3,
144,3000673,894444,200,2019-06-26,185000,20190722001395,,,,,...,3,2,3,N,N,N,N,1,3,
164,3002257,940652,630,2019-07-22,435000,20190730001339,,,,,...,11,6,3,N,N,N,N,1,8,
445,2980836,937630,695,2019-03-28,550000,20190404001008,,,,,...,3,6,3,N,N,N,N,1,8,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089056,3004408,66000,2210,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089057,3004408,66000,2225,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089058,3004408,66000,2195,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089059,3004408,66000,2220,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089082,3009227,192300,170,2019-09-03,1550000,20190909000838,,,,,...,11,6,3,N,N,N,N,1,8,

formatting column names to make them more Pythonic!

In [4]:
Real_Prop19 = Real_Prop19.rename(columns=str.lower)

In [5]:
Real_Prop19

,excisetaxnbr,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,plattype,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,213043,120,2019-12-20,560000,20191226000848,,,,,...,11,6,3,N,N,N,N,1,8,
118,2999169,919715,200,2019-07-08,192000,20190712001080,,,,,...,3,2,3,N,N,N,N,1,3,
144,3000673,894444,200,2019-06-26,185000,20190722001395,,,,,...,3,2,3,N,N,N,N,1,3,
164,3002257,940652,630,2019-07-22,435000,20190730001339,,,,,...,11,6,3,N,N,N,N,1,8,
445,2980836,937630,695,2019-03-28,550000,20190404001008,,,,,...,3,6,3,N,N,N,N,1,8,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089056,3004408,66000,2210,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089057,3004408,66000,2225,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089058,3004408,66000,2195,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089059,3004408,66000,2220,2019-08-07,41040000,20190812000849,,,,,...,3,7,22,N,N,N,N,18,2,45
2089082,3009227,192300,170,2019-09-03,1550000,20190909000838,,,,,...,11,6,3,N,N,N,N,1,8,

padding major and minor and adding them together after converting them to string type

In [6]:
Real_Prop19['major'] = Real_Prop19['major'].astype(str)
Real_Prop19['minor'] = Real_Prop19['minor'].astype(str)

In [7]:
def major_padded(row):
    if len(row) == 6:
        return row
    elif len(row) == 5:
        return '0'+row
    elif len(row) == 4:
        return '00'+row
    elif len(row) == 3:
        return '000'+row
    elif len(row) == 2:
        return '0000'+row
    elif len(row) == 1:
        return '00000'+row
    else:
        return '000000'

def minor_padded(row):
    if len(row) == 4:
        return row
    elif len(row) == 3: 
        return '0'+row
    elif len(row) == 2:
        return '00'+row
    elif len(row) == 1:
        return '000'+row
    else:
        return '0000'
    
Real_Prop19['major'] = Real_Prop19.major.apply(major_padded)
Real_Prop19['minor'] = Real_Prop19.minor.apply(minor_padded)
Real_Prop19['major_minor'] = Real_Prop19['major']+Real_Prop19['minor']

In [8]:
Real_Prop19

,excisetaxnbr,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,plattype,...,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning,major_minor
4,3027422,213043,0120,2019-12-20,560000,20191226000848,,,,,...,6,3,N,N,N,N,1,8,,2130430120
118,2999169,919715,0200,2019-07-08,192000,20190712001080,,,,,...,2,3,N,N,N,N,1,3,,9197150200
144,3000673,894444,0200,2019-06-26,185000,20190722001395,,,,,...,2,3,N,N,N,N,1,3,,8944440200
164,3002257,940652,0630,2019-07-22,435000,20190730001339,,,,,...,6,3,N,N,N,N,1,8,,9406520630
445,2980836,937630,0695,2019-03-28,550000,20190404001008,,,,,...,6,3,N,N,N,N,1,8,,9376300695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089056,3004408,066000,2210,2019-08-07,41040000,20190812000849,,,,,...,7,22,N,N,N,N,18,2,45,0660002210
2089057,3004408,066000,2225,2019-08-07,41040000,20190812000849,,,,,...,7,22,N,N,N,N,18,2,45,0660002225
2089058,3004408,066000,2195,2019-08-07,41040000,20190812000849,,,,,...,7,22,N,N,N,N,18,2,45,0660002195
2089059,3004408,066000,2220,2019-08-07,41040000,20190812000849,,,,,...,7,22,N,N,N,N,18,2,45,0660002220
2089082,3009227,192300,0170,2019-09-03,1550000,20190909000838,,,,,...,6,3,N,N,N,N,1,8,,1923000170

moving the major_minor column to column1 position

In [9]:
col_name = 'major_minor'
last_col = Real_Prop19.pop(col_name)
Real_Prop19.insert(1, col_name, last_col)

In [10]:
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,2130430120,213043,0120,2019-12-20,560000,20191226000848,,,,...,11,6,3,N,N,N,N,1,8,
118,2999169,9197150200,919715,0200,2019-07-08,192000,20190712001080,,,,...,3,2,3,N,N,N,N,1,3,
144,3000673,8944440200,894444,0200,2019-06-26,185000,20190722001395,,,,...,3,2,3,N,N,N,N,1,3,
164,3002257,9406520630,940652,0630,2019-07-22,435000,20190730001339,,,,...,11,6,3,N,N,N,N,1,8,
445,2980836,9376300695,937630,0695,2019-03-28,550000,20190404001008,,,,...,3,6,3,N,N,N,N,1,8,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089056,3004408,0660002210,066000,2210,2019-08-07,41040000,20190812000849,,,,...,3,7,22,N,N,N,N,18,2,45
2089057,3004408,0660002225,066000,2225,2019-08-07,41040000,20190812000849,,,,...,3,7,22,N,N,N,N,18,2,45
2089058,3004408,0660002195,066000,2195,2019-08-07,41040000,20190812000849,,,,...,3,7,22,N,N,N,N,18,2,45
2089059,3004408,0660002220,066000,2220,2019-08-07,41040000,20190812000849,,,,...,3,7,22,N,N,N,N,18,2,45
2089082,3009227,1923000170,192300,0170,2019-09-03,1550000,20190909000838,,,,...,11,6,3,N,N,N,N,1,8,

investigating propertytype to see the unique entries

In [11]:
Real_Prop19.propertytype.unique()

array([11,  3, 14, 51,  1, 10,  2, 59, 91, 16,  4, 12,  5,  0, 13, 58, 69,
       50, 99, 63, 18, 45, 79, 83, 65, 94,  6, 53, 68, 44, 54, 39, 85, 64,
       86, 55, 47, 19, 88, 17, 33, 15, 96, 27, 23, 46, 48, 52, 61, 81,  9,
       66, 21, 74])

The only propertytypes we are interested in are:

11 - Household, single family units

12 - Multiple family residence (Residential, 2-4 units)

14 - Residential condominiums

18 - All other residential not elsewhere coded

19 - Vacation and cabin (decided to not include vacation homes, probably first time homebuyers don't really go for these)

In [12]:
Real_Prop19 = Real_Prop19[Real_Prop19['propertytype'].isin([11, 12, 14, 18])]
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,2130430120,213043,0120,2019-12-20,560000,20191226000848,,,,...,11,6,3,N,N,N,N,1,8,
164,3002257,9406520630,940652,0630,2019-07-22,435000,20190730001339,,,,...,11,6,3,N,N,N,N,1,8,
456,2970575,8669201280,866920,1280,2019-01-16,0,20190118000160,,,,...,14,2,3,N,N,N,N,1,3,
497,3025919,0565250340,056525,0340,2019-12-12,311000,20191217001069,,,,...,14,2,3,N,N,N,N,1,3,
517,2975376,0984000450,098400,0450,2019-02-20,409950,20190228000242,,,,...,11,6,3,N,N,N,N,1,8,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088838,2986110,8732340080,873234,0080,2019-04-10,2375000,20190503001267,,,,...,14,2,3,N,N,N,N,1,3,
2088923,3012006,3904970150,390497,0150,2019-09-18,850000,20190925001198,,,,...,11,6,3,N,N,N,N,1,8,
2088953,2974971,2460900090,246090,0090,2019-02-13,686000,20190226000416,,,,...,11,6,3,N,N,N,N,1,8,
2088987,2998779,1438000420,143800,0420,2019-07-09,695000,20190711000444,,,,...,11,6,3,N,N,N,N,1,8,
2089082,3009227,1923000170,192300,0170,2019-09-03,1550000,20190909000838,,,,...,11,6,3,N,N,N,N,1,8,

This has shrunk our data from 61363 entries to 30516

Let's only keep entries that have a Saleprice of more than 0

In [13]:
Real_Prop19 = Real_Prop19[Real_Prop19['saleprice'] > 0]
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,2130430120,213043,0120,2019-12-20,560000,20191226000848,,,,...,11,6,3,N,N,N,N,1,8,
164,3002257,9406520630,940652,0630,2019-07-22,435000,20190730001339,,,,...,11,6,3,N,N,N,N,1,8,
497,3025919,0565250340,056525,0340,2019-12-12,311000,20191217001069,,,,...,14,2,3,N,N,N,N,1,3,
517,2975376,0984000450,098400,0450,2019-02-20,409950,20190228000242,,,,...,11,6,3,N,N,N,N,1,8,
628,2976405,0302000645,030200,0645,2019-03-04,380000,20190306000786,,,,...,11,6,3,N,N,N,N,1,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088838,2986110,8732340080,873234,0080,2019-04-10,2375000,20190503001267,,,,...,14,2,3,N,N,N,N,1,3,
2088923,3012006,3904970150,390497,0150,2019-09-18,850000,20190925001198,,,,...,11,6,3,N,N,N,N,1,8,
2088953,2974971,2460900090,246090,0090,2019-02-13,686000,20190226000416,,,,...,11,6,3,N,N,N,N,1,8,
2088987,2998779,1438000420,143800,0420,2019-07-09,695000,20190711000444,,,,...,11,6,3,N,N,N,N,1,8,
2089082,3009227,1923000170,192300,0170,2019-09-03,1550000,20190909000838,,,,...,11,6,3,N,N,N,N,1,8,

In [13]:
Real_Prop19.saleprice.agg(['min', 'max', 'std', 'mean'])

min     1.000000e+01
max     5.300000e+07
std     6.747552e+05
mean    7.585140e+05
Name: saleprice, dtype: float64

we now have 21372 entries, checking to see the principal use case for these entries

In [14]:
Real_Prop19['principaluse'].unique()

array([6, 2, 7])

6 - Residential

2 - Condominium

7 - Commercial

Lets remove entries relating to commercial use

In [14]:
Real_Prop19 = Real_Prop19[Real_Prop19['principaluse'].isin([6,2])]
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,2130430120,213043,0120,2019-12-20,560000,20191226000848,,,,...,11,6,3,N,N,N,N,1,8,
164,3002257,9406520630,940652,0630,2019-07-22,435000,20190730001339,,,,...,11,6,3,N,N,N,N,1,8,
497,3025919,0565250340,056525,0340,2019-12-12,311000,20191217001069,,,,...,14,2,3,N,N,N,N,1,3,
517,2975376,0984000450,098400,0450,2019-02-20,409950,20190228000242,,,,...,11,6,3,N,N,N,N,1,8,
628,2976405,0302000645,030200,0645,2019-03-04,380000,20190306000786,,,,...,11,6,3,N,N,N,N,1,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088838,2986110,8732340080,873234,0080,2019-04-10,2375000,20190503001267,,,,...,14,2,3,N,N,N,N,1,3,
2088923,3012006,3904970150,390497,0150,2019-09-18,850000,20190925001198,,,,...,11,6,3,N,N,N,N,1,8,
2088953,2974971,2460900090,246090,0090,2019-02-13,686000,20190226000416,,,,...,11,6,3,N,N,N,N,1,8,
2088987,2998779,1438000420,143800,0420,2019-07-09,695000,20190711000444,,,,...,11,6,3,N,N,N,N,1,8,
2089082,3009227,1923000170,192300,0170,2019-09-03,1550000,20190909000838,,,,...,11,6,3,N,N,N,N,1,8,

down to 21260 entries. lets give one last check for property class

In [16]:
Real_Prop19['propertyclass'].unique()

array([8, 3, 7, 9])

7 - Res-Land only, we can remove that from our dataframe to only reflect residential property

keeping only:

8 - Residential- Improved Property

3 - Condominium

9 - Res/Condo mobile

In [15]:
Real_Prop19 = Real_Prop19[Real_Prop19['propertyclass'].isin([8,3,9])]
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,volume,page,platnbr,...,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,2130430120,213043,0120,2019-12-20,560000,20191226000848,,,,...,11,6,3,N,N,N,N,1,8,
164,3002257,9406520630,940652,0630,2019-07-22,435000,20190730001339,,,,...,11,6,3,N,N,N,N,1,8,
497,3025919,0565250340,056525,0340,2019-12-12,311000,20191217001069,,,,...,14,2,3,N,N,N,N,1,3,
517,2975376,0984000450,098400,0450,2019-02-20,409950,20190228000242,,,,...,11,6,3,N,N,N,N,1,8,
628,2976405,0302000645,030200,0645,2019-03-04,380000,20190306000786,,,,...,11,6,3,N,N,N,N,1,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088838,2986110,8732340080,873234,0080,2019-04-10,2375000,20190503001267,,,,...,14,2,3,N,N,N,N,1,3,
2088923,3012006,3904970150,390497,0150,2019-09-18,850000,20190925001198,,,,...,11,6,3,N,N,N,N,1,8,
2088953,2974971,2460900090,246090,0090,2019-02-13,686000,20190226000416,,,,...,11,6,3,N,N,N,N,1,8,
2088987,2998779,1438000420,143800,0420,2019-07-09,695000,20190711000444,,,,...,11,6,3,N,N,N,N,1,8,
2089082,3009227,1923000170,192300,0170,2019-09-03,1550000,20190909000838,,,,...,11,6,3,N,N,N,N,1,8,

investigated salewarnings and decided to skip and power through the rest.....

In [18]:
Real_Prop19.salewarning.value_counts()

            19598
15            281
26            214
40            184
41            152
            ...
57              1
38              1
45              1
12 46 51        1
44              1
Name: salewarning, Length: 98, dtype: int64

Now checking to see if major_minor are unique or not

In [19]:
len(Real_Prop19) - len(Real_Prop19.major_minor.unique())

377

moving along and not worrying about the major_minor repeats, since it could be due to successive sale of the same property in 2019 or other reasons... can explore later.....

Lets drop the blank columns 'volume', 'page', 'platnbr', 'plattype', 'platlot', 'platblock', 'sellername', 'buyername'

In [16]:
cols_to_drop = ['volume', 'page', 'platnbr', 'plattype', 'platlot', 'platblock', 'sellername', 'buyername']
Real_Prop19.drop(columns=cols_to_drop, inplace=True)

/opt/anaconda3/envs/oy-env/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [21]:
Real_Prop19

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,propertytype,principaluse,saleinstrument,afforestland,afcurrentuseland,afnonprofituse,afhistoricproperty,salereason,propertyclass,salewarning
4,3027422,2130430120,213043,0120,2019-12-20,560000,20191226000848,11,6,3,N,N,N,N,1,8,
164,3002257,9406520630,940652,0630,2019-07-22,435000,20190730001339,11,6,3,N,N,N,N,1,8,
497,3025919,0565250340,056525,0340,2019-12-12,311000,20191217001069,14,2,3,N,N,N,N,1,3,
517,2975376,0984000450,098400,0450,2019-02-20,409950,20190228000242,11,6,3,N,N,N,N,1,8,
628,2976405,0302000645,030200,0645,2019-03-04,380000,20190306000786,11,6,3,N,N,N,N,1,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088838,2986110,8732340080,873234,0080,2019-04-10,2375000,20190503001267,14,2,3,N,N,N,N,1,3,
2088923,3012006,3904970150,390497,0150,2019-09-18,850000,20190925001198,11,6,3,N,N,N,N,1,8,
2088953,2974971,2460900090,246090,0090,2019-02-13,686000,20190226000416,11,6,3,N,N,N,N,1,8,
2088987,2998779,1438000420,143800,0420,2019-07-09,695000,20190711000444,11,6,3,N,N,N,N,1,8,
2089082,3009227,1923000170,192300,0170,2019-09-03,1550000,20190909000838,11,6,3,N,N,N,N,1,8,

At present we have 20999 entries that satisfy all our conditions for residential propert sales in King county in 2019

Now bringing in the Residential Buildings table to mearge with our current datframe for features of the properties we have narrowed down.

We'll first clean up column names, pad up major and minor and combine them.

In [17]:
Res_Bldg.rename(columns=str.lower, inplace=True)

In [18]:
Res_Bldg['major'] = Res_Bldg['major'].astype(str)
Res_Bldg['minor'] = Res_Bldg['minor'].astype(str)

In [19]:
Res_Bldg['major'] = Res_Bldg['major'].apply(major_padded)
Res_Bldg['minor'] = Res_Bldg['minor'].apply(minor_padded)

In [20]:
Res_Bldg['major_minor'] = Res_Bldg['major']+Res_Bldg['minor']

In [21]:
col_name = 'major_minor'
last_col = Res_Bldg.pop(col_name)
Res_Bldg.insert(0, col_name, last_col)

In [27]:
Res_Bldg.head(2)

,major_minor,major,minor,bldgnbr,nbrlivingunits,address,buildingnumber,fraction,directionprefix,streetname,...,fpmultistory,fpfreestanding,fpadditional,yrbuilt,yrrenovated,pcntcomplete,obsolescence,pcntnetcondition,condition,addnlcost
0,0461000935,046100,0935,1,1,7349 10TH AVE NW 98117,7349,,,10TH,...,0,0,0,1927,0,0,0,0,3,0
1,0461001165,046100,1165,1,1,7342 11TH AVE NW 98117,7342,,,11TH,...,0,0,0,2019,0,53,0,0,3,0

In [28]:
Res_Bldg.loc[1]

major_minor                          0461001165
major                                    046100
minor                                      1165
bldgnbr                                       1
nbrlivingunits                                1
address               7342   11TH AVE NW  98117
buildingnumber                            7342
fraction
directionprefix
streetname            11TH
streettype                               AVE
directionsuffix                              NW
zipcode                                   98117
stories                                       2
bldggrade                                     8
bldggradevar                                  0
sqft1stfloor                               1600
sqfthalffloor                                 0
sqft2ndfloor                               1560
sqftupperfloor                                0
sqftunfinfull                                 0
sqftunfinhalf                                 0
sqfttotliving                              3790
sqfttotbasement                             940
sqftfinbasement                             630
finbasementgrade                              8
sqftgaragebasement                          310
sqftgarageattached                            0
daylightbasement
sqftopenporch                                 0
sqftenclosedporch                             0
sqftdeck                                    480
heatsystem                                    5
heatsource                                    2
brickstone                                    0
viewutilization
bedrooms                                      5
bathhalfcount                                 1
bath3qtrcount                                 0
bathfullcount                                 3
fpsinglestory                                 1
fpmultistory                                  0
fpfreestanding                                0
fpadditional                                  0
yrbuilt                                    2019
yrrenovated                                   0
pcntcomplete                                 53
obsolescence                                  0
pcntnetcondition                              0
condition                                     3
addnlcost                                     0
Name: 1, dtype: object

In [29]:
Res_Bldg.columns

Index(['major_minor', 'major', 'minor', 'bldgnbr', 'nbrlivingunits', 'address',
       'buildingnumber', 'fraction', 'directionprefix', 'streetname',
       'streettype', 'directionsuffix', 'zipcode', 'stories', 'bldggrade',
       'bldggradevar', 'sqft1stfloor', 'sqfthalffloor', 'sqft2ndfloor',
       'sqftupperfloor', 'sqftunfinfull', 'sqftunfinhalf', 'sqfttotliving',
       'sqfttotbasement', 'sqftfinbasement', 'finbasementgrade',
       'sqftgaragebasement', 'sqftgarageattached', 'daylightbasement',
       'sqftopenporch', 'sqftenclosedporch', 'sqftdeck', 'heatsystem',
       'heatsource', 'brickstone', 'viewutilization', 'bedrooms',
       'bathhalfcount', 'bath3qtrcount', 'bathfullcount', 'fpsinglestory',
       'fpmultistory', 'fpfreestanding', 'fpadditional', 'yrbuilt',
       'yrrenovated', 'pcntcomplete', 'obsolescence', 'pcntnetcondition',
       'condition', 'addnlcost'],
      dtype='object')

merging together Property sales in 2019 `Real_Prop19` with `Res_Bldg` purely based on their `major_minor`

In [22]:
prop_res = Real_Prop19.merge(Res_Bldg, on='major_minor', suffixes=("", "_resbldg"))

In [31]:
prop_res.describe()

,excisetaxnbr,saleprice,propertytype,principaluse,saleinstrument,salereason,propertyclass,bldgnbr,nbrlivingunits,stories,...,fpmultistory,fpfreestanding,fpadditional,yrbuilt,yrrenovated,pcntcomplete,obsolescence,pcntnetcondition,condition,addnlcost
count,1.877100e+04,1.877100e+04,18771.000000,18771.0,18771.000000,18771.000000,18771.0,18771.000000,18771.000000,18771.000000,...,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000
mean,2.999465e+06,7.955853e+05,11.028075,6.0,3.085185,1.004528,8.0,1.007671,1.014597,1.517127,...,0.302488,0.067871,0.174684,1974.720633,100.592297,0.270630,0.101113,0.004795,3.463428,715.271802
std,1.666185e+04,5.905325e+05,0.313453,0.0,1.261554,0.277424,0.0,0.100848,0.139258,0.534168,...,0.500957,0.260275,0.398065,30.384858,437.165864,4.680644,2.202412,0.374718,0.694128,2565.710429
min,2.968844e+06,1.000000e+01,11.000000,6.0,2.000000,1.000000,8.0,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,1900.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,2.984984e+06,4.700000e+05,11.000000,6.0,3.000000,1.000000,8.0,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,1954.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
50%,3.000260e+06,6.564000e+05,11.000000,6.0,3.000000,1.000000,8.0,1.000000,1.000000,1.500000,...,0.000000,0.000000,0.000000,1978.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
75%,3.012852e+06,9.067500e+05,11.000000,6.0,3.000000,1.000000,8.0,1.000000,1.000000,2.000000,...,1.000000,0.000000,0.000000,2001.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000
max,3.050564e+06,1.605000e+07,18.000000,6.0,26.000000,18.000000,8.0,7.000000,3.000000,3.500000,...,5.000000,2.000000,3.000000,2020.000000,2020.000000,100.000000,99.000000,40.000000,5.000000,60000.000000

Down to 18771 entries, this could be due to having entries in the Real Property sales dataframe that were still reflecting property that were not purely residential. Merging with Residential Buildings could have narrowed this down further for us.... 

bringing in parcel table and cleaning it up

In [23]:
Parcel.rename(columns=str.lower, inplace=True)
Parcel['major'] = Parcel['major'].astype(str)
Parcel['minor'] = Parcel['minor'].astype(str)
Parcel['major'] = Parcel['major'].apply(major_padded)
Parcel['minor'] = Parcel['minor'].apply(minor_padded)
Parcel['major_minor'] = Parcel['major']+Parcel['minor']
last_col = Parcel.pop(col_name)
Parcel.insert(0, col_name, last_col)

In [33]:
Parcel.columns

Index(['major_minor', 'major', 'minor', 'propname', 'platname', 'platlot',
       'platblock', 'range', 'township', 'section', 'quartersection',
       'proptype', 'area', 'subarea', 'specarea', 'specsubarea',
       'districtname', 'levycode', 'currentzoning', 'hbuasifvacant',
       'hbuasimproved', 'presentuse', 'sqftlot', 'watersystem', 'sewersystem',
       'access', 'topography', 'streetsurface', 'restrictiveszshape',
       'inadequateparking', 'pcntunusable', 'unbuildable', 'mtrainier',
       'olympics', 'cascades', 'territorial', 'seattleskyline', 'pugetsound',
       'lakewashington', 'lakesammamish', 'smalllakerivercreek', 'otherview',
       'wfntlocation', 'wfntfootage', 'wfntbank', 'wfntpoorquality',
       'wfntrestrictedaccess', 'wfntaccessrights', 'wfntproximityinfluence',
       'tidelandshoreland', 'lotdepthfactor', 'trafficnoise', 'airportnoise',
       'powerlines', 'othernuisances', 'nbrbldgsites', 'contamination',
       'dnrlease', 'adjacentgolffairway', 'adjacentgreenbelt', 'historicsite',
       'currentusedesignation', 'nativegrowthprotesmt', 'easements',
       'otherdesignation', 'deedrestrictions', 'developmentrightspurch',
       'coalminehazard', 'criticaldrainage', 'erosionhazard', 'landfillbuffer',
       'hundredyrfloodplain', 'seismichazard', 'landslidehazard',
       'steepslopehazard', 'stream', 'wetland', 'speciesofconcern',
       'sensitiveareatract', 'waterproblems', 'transpconcurrency',
       'otherproblems'],
      dtype='object')

In [34]:
Parcel.loc[1]

major_minor           1326069228
major                     132606
minor                       9228
propname
platname                     NaN
                         ...
speciesofconcern               N
sensitiveareatract             N
waterproblems                  N
transpconcurrency              N
otherproblems                  N
Name: 1, Length: 82, dtype: object

In [24]:
prop_res = prop_res.merge(Parcel, on='major_minor', suffixes=("", "_parcel"))

In [36]:
prop_res.head()

,excisetaxnbr,major_minor,major,minor,documentdate,saleprice,recordingnbr,propertytype,principaluse,saleinstrument,...,seismichazard,landslidehazard,steepslopehazard,stream,wetland,speciesofconcern,sensitiveareatract,waterproblems,transpconcurrency,otherproblems
0,3027422,2130430120,213043,0120,2019-12-20,560000,20191226000848,11,6,3,...,N,N,N,N,N,N,N,N,N,N
1,3002257,9406520630,940652,0630,2019-07-22,435000,20190730001339,11,6,3,...,N,N,N,N,N,N,N,N,N,N
2,2975376,0984000450,098400,0450,2019-02-20,409950,20190228000242,11,6,3,...,N,N,N,N,N,N,N,N,N,N
3,2976405,0302000645,030200,0645,2019-03-04,380000,20190306000786,11,6,3,...,N,N,N,N,N,N,N,N,N,N
4,3012934,6154900010,615490,0010,2019-09-24,775000,20190930002488,11,6,3,...,N,N,N,N,N,N,N,N,N,N

In [37]:
prop_res.shape

(18771, 148)

no loss of entries here, still at 18771!

In [38]:
prop_res['proptype'].unique()

array(['R'], dtype=object)

R - Residential, propert type included in this database only reflects residential property. That's a good sign!

In [39]:
prop_res.describe()

,excisetaxnbr,saleprice,propertytype,principaluse,saleinstrument,salereason,propertyclass,bldgnbr,nbrlivingunits,stories,...,wfntpoorquality,wfntrestrictedaccess,tidelandshoreland,lotdepthfactor,trafficnoise,airportnoise,nbrbldgsites,contamination,historicsite,currentusedesignation
count,1.877100e+04,1.877100e+04,18771.000000,18771.0,18771.000000,18771.000000,18771.0,18771.000000,18771.000000,18771.000000,...,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.0,18771.000000,18771.0,18771.000000,18771.000000
mean,2.999465e+06,7.955853e+05,11.028075,6.0,3.085185,1.004528,8.0,1.007671,1.014597,1.517127,...,0.000533,0.005434,0.015130,0.052688,0.200202,0.0,0.005967,0.0,0.000906,0.003143
std,1.666185e+04,5.905325e+05,0.313453,0.0,1.261554,0.277424,0.0,0.100848,0.139258,0.534168,...,0.023076,0.107632,0.172373,2.094350,0.545121,0.0,0.107108,0.0,0.051086,0.095953
min,2.968844e+06,1.000000e+01,11.000000,6.0,2.000000,1.000000,8.0,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
25%,2.984984e+06,4.700000e+05,11.000000,6.0,3.000000,1.000000,8.0,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
50%,3.000260e+06,6.564000e+05,11.000000,6.0,3.000000,1.000000,8.0,1.000000,1.000000,1.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
75%,3.012852e+06,9.067500e+05,11.000000,6.0,3.000000,1.000000,8.0,1.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
max,3.050564e+06,1.605000e+07,18.000000,6.0,26.000000,18.000000,8.0,7.000000,3.000000,3.500000,...,1.000000,3.000000,3.000000,105.000000,3.000000,0.0,5.000000,0.0,3.000000,3.000000

total count 18771

choosing all the features of a residential property that would have a bearing on its saleprice:

**Residential building features:** (Specific to the unit)

total living square feet, year built, year renovated, bedrooms, bath(half, quarter, full), porch square feet(open, enclosed), deck, total bsement square feet, finished basement grade, daylight basement, heat system, heat source, condition

**Parcel features:** (specifi to the location of the lot)

HBU as is vacant, parking, transportation concurrency, views of Mt.Rainier, Olympics, Cascades, Territorial, Seattle skyline, Puget sound, Lake washington, Lake sammamish, small lake/river/creek, waterfront location, waterfront access rights trffic noise, airport noise, power lines, other nuisances, adjacent greenbelt.  (may want to include hazard metrics)

In [25]:
df = prop_res.loc[:, ['saleprice', 'sqfttotliving', 'yrbuilt', 'yrrenovated', 'bedrooms',
                      'zipcode', 'sqfttotbasement', 'sqftfinbasement', 'sqftopenporch', 
                      'sqftenclosedporch', 'sqftdeck','heatsystem', 'heatsource', 'bathhalfcount', 
                      'bath3qtrcount', 'bathfullcount','condition', 'viewutilization', 'sqftgarageattached',
                      'daylightbasement', 'finbasementgrade', 'hbuasifvacant', 'inadequateparking',
                      'mtrainier', 'olympics', 'cascades', 'territorial', 'seattleskyline', 'pugetsound',
                      'lakewashington', 'lakesammamish', 'smalllakerivercreek', 'otherview', 'wfntlocation',
                      'trafficnoise', 'airportnoise', 'powerlines', 'othernuisances', 'adjacentgreenbelt']]

In [26]:
df.head()

,saleprice,sqfttotliving,yrbuilt,yrrenovated,bedrooms,zipcode,sqfttotbasement,sqftfinbasement,sqftopenporch,sqftenclosedporch,...,lakewashington,lakesammamish,smalllakerivercreek,otherview,wfntlocation,trafficnoise,airportnoise,powerlines,othernuisances,adjacentgreenbelt
0,560000,1930,1989,0,3,98019,0,0,180,0,...,0,0,0,0,0,0,0,N,N,N
1,435000,1975,1994,0,3,98038,0,0,45,0,...,0,0,0,0,0,0,0,N,N,N
2,409950,1850,1968,0,3,98058,1220,600,0,0,...,0,0,0,0,0,0,0,N,N,N
3,380000,1750,1963,0,4,98001,920,460,670,0,...,0,0,0,0,0,0,0,N,N,N
4,775000,2080,1947,0,4,98177,1040,1040,0,0,...,0,0,0,0,0,0,0,N,N,N

In [27]:
df.describe()

,saleprice,sqfttotliving,yrbuilt,yrrenovated,bedrooms,sqfttotbasement,sqftfinbasement,sqftopenporch,sqftenclosedporch,sqftdeck,...,territorial,seattleskyline,pugetsound,lakewashington,lakesammamish,smalllakerivercreek,otherview,wfntlocation,trafficnoise,airportnoise
count,1.877100e+04,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,...,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.000000,18771.0
mean,7.955853e+05,2145.487774,1974.720633,100.592297,3.427894,481.943264,303.638059,72.835384,5.421501,136.439668,...,0.245379,0.024346,0.057536,0.061265,0.013798,0.022215,0.014650,0.106601,0.200202,0.0
std,5.905325e+05,968.251055,30.384858,437.165864,0.930544,581.411684,453.159932,149.736725,36.765319,212.802391,...,0.776513,0.260923,0.385945,0.407413,0.201675,0.256792,0.189631,0.868427,0.545121,0.0
min,1.000000e+01,250.000000,1900.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,4.700000e+05,1450.000000,1954.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,6.564000e+05,1970.000000,1978.000000,0.000000,3.000000,0.000000,0.000000,16.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,9.067500e+05,2630.000000,2001.000000,0.000000,4.000000,950.000000,580.000000,100.000000,0.000000,210.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,1.605000e+07,10910.000000,2020.000000,2020.000000,13.000000,5060.000000,4590.000000,11570.000000,1840.000000,2250.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,9.000000,3.000000,0.0

In [43]:
df.corr()

,saleprice,sqfttotliving,yrbuilt,yrrenovated,bedrooms,sqfttotbasement,sqftfinbasement,sqftopenporch,sqftenclosedporch,sqftdeck,...,territorial,seattleskyline,pugetsound,lakewashington,lakesammamish,smalllakerivercreek,otherview,wfntlocation,trafficnoise,airportnoise
saleprice,1.000000,0.621515,0.084952,0.115198,0.271100,0.272623,0.291167,0.276026,0.009184,0.208910,...,0.312686,0.184895,0.105652,0.378633,0.156440,0.041930,0.104786,0.261991,-0.002572,NaN
sqfttotliving,0.621515,1.000000,0.335491,0.047570,0.620835,0.312401,0.417700,0.361743,-0.002735,0.243078,...,0.237006,0.100614,0.084990,0.172784,0.096768,0.027541,0.081521,0.090385,-0.057904,NaN
yrbuilt,0.084952,0.335491,1.000000,-0.254773,0.199428,-0.222096,-0.111449,0.149491,-0.082004,0.043985,...,-0.059308,-0.020626,-0.067934,-0.044486,0.015331,-0.008539,0.025971,-0.010418,-0.099748,NaN
yrrenovated,0.115198,0.047570,-0.254773,1.000000,0.012806,0.068928,0.085905,0.021661,0.019251,0.057772,...,0.098189,0.037425,0.075304,0.072494,0.028829,0.019921,-0.002297,0.051258,0.035666,NaN
bedrooms,0.271100,0.620835,0.199428,0.012806,1.000000,0.223030,0.297207,0.177061,-0.016424,0.100598,...,0.054201,0.024675,-0.011886,0.049877,0.024464,-0.023730,0.032706,-0.021770,-0.044430,NaN
sqfttotbasement,0.272623,0.312401,-0.222096,0.068928,0.223030,1.000000,0.853893,-0.003292,0.015017,0.273884,...,0.271296,0.120174,0.135295,0.183617,0.060660,0.012510,0.046928,0.032415,0.060486,NaN
sqftfinbasement,0.291167,0.417700,-0.111449,0.085905,0.297207,0.853893,1.000000,0.017181,0.007393,0.296660,...,0.273817,0.120187,0.136229,0.188668,0.076307,0.017244,0.051724,0.049354,0.035418,NaN
sqftopenporch,0.276026,0.361743,0.149491,0.021661,0.177061,-0.003292,0.017181,1.000000,-0.008545,-0.010340,...,0.066258,0.019206,0.007123,0.050027,0.033731,0.055175,0.036231,0.103810,-0.028845,NaN
sqftenclosedporch,0.009184,-0.002735,-0.082004,0.019251,-0.016424,0.015017,0.007393,-0.008545,1.000000,0.016391,...,0.011989,0.008510,-0.002025,0.001015,0.016209,0.003325,-0.002376,0.004284,0.032867,NaN
sqftdeck,0.208910,0.243078,0.043985,0.057772,0.100598,0.273884,0.296660,-0.010340,0.016391,1.000000,...,0.243360,0.098859,0.138890,0.147727,0.086192,0.087462,0.050352,0.118149,-0.007438,NaN
heatsystem,0.135627,0.232757,0.178479,-0.002726,0.174261,0.100265,0.106260,0.085381,-0.002959,0.122338,...,0.052160,0.017635,0.013894,0.027243,0.011398,0.004486,0.017476,0.007673,-0.018687,NaN
heatsource,-0.052802,-0.031207,0.152118,0.039262,-0.050755,-0.097690,-0.019055,0.005995,0.014686,0.076843,...,-0.020443,-0.012625,-0.012889,-0.037898,0.004289,0.024660,0.005291,0.010669,-0.007208,NaN
bathhalfcount,0.219988,0.359931,0.387476,-0.053472,0.179039,-0.051622,-0.017488,0.138766,-0.019955,0.065170,...,0.045799,0.027705,-0.004752,0.038332,0.031375,-0.005081,0.021407,0.024247,-0.044294,NaN
bath3qtrcount,0.231525,0.264300,0.049133,0.047946,0.213785,0.285500,0.313235,0.075816,0.010825,0.168872,...,0.102710,0.039207,0.078950,0.083929,0.034724,0.024549,0.017116,0.055784,-0.001335,NaN
bathfullcount,0.321765,0.571658,0.392164,0.034868,0.444476,0.060403,0.131022,0.219190,-0.024005,0.070657,...,0.076551,0.036954,-0.015287,0.056769,0.041507,-0.009388,0.042416,0.015144,-0.040207,NaN
condition,-0.047447,-0.104770,-0.340350,-0.090301,0.003031,0.095096,0.136330,-0.075262,0.012433,0.083056,...,0.019220,0.012123,0.018395,0.011314,-0.010667,0.008593,-0.000989,0.008103,0.003159,NaN
sqftgarageattached,0.168607,0.458314,0.426372,-0.090000,0.283551,-0.327704,-0.163103,0.204231,-0.036355,0.022602,...,-0.006920,-0.019988,-0.037439,-0.002828,0.033481,-0.003674,0.032996,0.023900,-0.123998,NaN
finbasementgrade,0.234935,0.245732,-0.035523,0.051066,0.164766,0.805154,0.827203,-0.041858,-0.001292,0.265886,...,0.219364,0.097822,0.107074,0.149309,0.056440,0.010899,0.035978,0.030024,0.058367,NaN
hbuasifvacant,-0.006878,-0.037365,-0.091796,0.008243,-0.008240,0.021858,-0.002950,-0.011091,0.014818,-0.025322,...,-0.004927,-0.005653,-0.000319,-0.014526,-0.000139,-0.004606,-0.010598,-0.012545,0.074818,NaN
inadequateparking,0.050667,0.023642,0.033515,0.014254,-0.000003,-0.006937,0.000664,0.015207,0.001845,0.009066,...,-0.012395,0.010060,-0.005536,-0.001338,-0.073040,-0.005243,0.019725,-0.005636,0.039950,NaN
mtrainier,0.074170,0.067232,-0.004782,0.038297,0.015344,0.041910,0.052252,0.031810,0.027363,0.064762,...,0.240802,0.100518,0.100300,0.096268,-0.006199,0.041740,0.006428,0.074885,-0.014592,NaN
olympics,0.152614,0.123806,-0.044274,0.052529,0.024387,0.161390,0.161668,0.032228,0.003003,0.137736,...,0.468083,0.247436,0.632544,0.115649,-0.001769,0.004543,0.113307,0.028491,-0.003479,NaN
cascades,0.123368,0.129707,-0.026436,0.041944,0.043038,0.130404,0.130396,0.028304,0.006550,0.110776,...,0.464607,0.100715,0.036512,0.280950,0.149175,0.035927,0.100524,0.025530,0.001723,NaN
territorial,0.312686,0.237006,-0.059308,0.098189,0.054201,0.271296,0.273817,0.066258,0.011989,0.243360,...,1.000000,0.304724,0.468070,0.475878,0.192706,0.066709,0.148167,0.193167,0.005144,NaN
seattleskyline,0.184895,0.100614,-0.020626,0.037425,0.024675,0.120174,0.120187,0.019206,0.008510,0.098859,...,0.304724,1.000000,0.133695,0.195459,0.004753,0.006240,0.144612,0.008296,-0.000559,NaN
pugetsound,0.105652,0.084990,-0.067934,0.075304,-0.011886,0.135295,0.136229,0.007123,-0.002025,0.138890,...,0.468070,0.133695,1.000000,-0.013609,-0.010200,-0.001609,0.001585,0.077550,-0.012717,NaN
lakewashington,0.378633,0.172784,-0.044486,0.072494,0.049877,0.183617,0.188668,0.050027,0.001015,0.147727,...,0.475878,0.195459,-0.013609,1.000000,-0.005101,-0.013010,0.098716,0.251079,0.037607,NaN
lakesammamish,0.156440,0.096768,0.015331,0.028829,0.024464,0.060660,0.076307,0.033731,0.016209,0.086192,...,0.192706,0.004753,-0.010200,-0.005101,1.000000,-0.005919,0.014217,0.215184,0.009764,NaN
smalllakerivercreek,0.041930,0.027541,-0.008539,0.019921,-0.023730,0.012510,0.017244,0.055175,0.003325,0.087462,...,0.066709,0.006240,-0.001609,-0.013010,-0.005919,1.000000,0.002069,0.587114,-0.002468,NaN
otherview,0.104786,0.081521,0.025971,-0.002297,0.032706,0.046928,0.051724,0.036231,-0.002376,0.050352,...,0.148167,0.144612,0.001585,0.098716,0.014217,0.002069,1.000000,0.049396,-0.004667,NaN
wfntlocation,0.261991,0.090385,-0.010418,0.051258,-0.021770,0.032415,0.049354,0.103810,0.004284,0.118149,...,0.193167,0.008296,0.077550,0.251079,0.215184,0.587114,0.049396,1.000000,0.000832,NaN
trafficnoise,-0.002572,-0.057904,-0.099748,0.035666,-0.044430,0.060486,0.035418,-0.028845,0.032867,-0.007438,...,0.005144,-0.000559,-0.012717,0.037607,0.009764,-0.002468,-0.004667,0.000832,1.000000,NaN
airportnoise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.to_csv('../data/our_dataframe.csv')

In [31]:
prop_res.to_csv('../data/df_with_all_columns.csv')