# Data Download and Investigation

In this notebook, I load in the `Real Property Sales` data and investigate the columns to get a feel for the data types, NA values and how the data is generally structured.

### Bash commands to get data:

#### Real Property Sales:

In [107]:
# Get real property sales zip file:
! wget -P ../data/raw https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip

--2020-06-14 15:25:26--  https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip
Resolving aqua.kingcounty.gov (aqua.kingcounty.gov)... 146.129.240.28
Connecting to aqua.kingcounty.gov (aqua.kingcounty.gov)|146.129.240.28|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 128312536 (122M) [application/x-zip-compressed]
Saving to: ‘../data/raw/Real Property Sales.zip.1’

         Real Prope  47%[========>           ]  58.29M  2.91MB/s    eta 21s    ^C

In [108]:
# unzip real property sales zip file:
! unzip ../data/raw/Real\ Property\ Sales.zip -d ../data

Archive:  ../data/raw/Real Property Sales.zip
replace ../data/EXTR_RPSale.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C

#### Parcel:

In [ ]:
# Get parcel zip file:
! wget -P ../data/raw https://aqua.kingcounty.gov/extranet/assessor/Parcel.zip

--2020-06-14 15:25:53--  https://aqua.kingcounty.gov/extranet/assessor/Parcel.zip
Resolving aqua.kingcounty.gov (aqua.kingcounty.gov)... 146.129.240.28
Connecting to aqua.kingcounty.gov (aqua.kingcounty.gov)|146.129.240.28|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 30467367 (29M) [application/x-zip-compressed]
Saving to: ‘../data/raw/Parcel.zip.1’

Parcel.zip.1          7%[>                   ]   2.29M  3.76MB/s               ^C

In [ ]:
# unzip real property sales zip file:
! unzip ../data/raw/Parcel.zip -d ../data

#### Residential Building:

In [ ]:
# Get parcel zip file:
! wget -P ../data/raw https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip

In [ ]:
# unzip real property sales zip file:
! unzip ../data/raw/Residential\ Building.zip -d ../data

### Create Pandas DataFrame: Real Property Sales data

In [1]:
# test file collect:
import pandas as pd
import numpy as np

# real property sales df create:
rps = pd.read_csv("../data/EXTR_RPSale.csv")

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
rps.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2687551,138860,110,08/21/2014,245000,20140828001436,,,,,...,3,6,3,N,N,N,N,1,8,
1,1235111,664885,40,07/09/1991,0,199203161090,071,001,664885,C,...,3,0,26,N,N,N,N,18,3,11
2,2704079,423943,50,10/11/2014,0,20141205000558,,,,,...,3,6,15,N,N,N,N,18,8,18 31 51
3,2584094,403700,715,01/04/2013,0,20130110000910,,,,,...,3,6,15,N,N,N,N,11,8,18 31 38
4,3027422,213043,120,12/20/2019,560000,20191226000848,,,,,...,11,6,3,N,N,N,N,1,8,

In [3]:
rps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2089099 entries, 0 to 2089098
Data columns (total 24 columns):
ExciseTaxNbr          int64
Major                 object
Minor                 object
DocumentDate          object
SalePrice             int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType          int64
PrincipalUse          int64
SaleInstrument        int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason            int64
PropertyClass         int64
SaleWarning           object
dtypes: int64(7), object(17)
memory usage: 382.5+ MB

In [4]:
# check na's:
rps.isna().sum()

ExciseTaxNbr          0
Major                 0
Minor                 0
DocumentDate          0
SalePrice             0
RecordingNbr          0
Volume                0
Page                  0
PlatNbr               0
PlatType              0
PlatLot               0
PlatBlock             0
SellerName            0
BuyerName             0
PropertyType          0
PrincipalUse          0
SaleInstrument        0
AFForestLand          0
AFCurrentUseLand      0
AFNonProfitUse        0
AFHistoricProperty    0
SaleReason            0
PropertyClass         0
SaleWarning           0
dtype: int64

We can see there are no null items but we see blanks in the preview...

`SalePrice` is an `int64` (as expected) but `DocumentDate` is `object` so need to convert to datetime object.

In [5]:
rps['DocumentDate'] = pd.to_datetime(rps['DocumentDate'])

In [6]:
rps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2089099 entries, 0 to 2089098
Data columns (total 24 columns):
ExciseTaxNbr          int64
Major                 object
Minor                 object
DocumentDate          datetime64[ns]
SalePrice             int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType          int64
PrincipalUse          int64
SaleInstrument        int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason            int64
PropertyClass         int64
SaleWarning           object
dtypes: datetime64[ns](1), int64(7), object(16)
memory usage: 382.5+ MB

Now we've converted date to be the correct dtype.

In [7]:
rps['DocumentDate'][0]

Timestamp('2014-08-21 00:00:00')

In [8]:
# create year column:
rps['year'] = rps['DocumentDate'].dt.year

rps.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning,year
0,2687551,138860,110,2014-08-21,245000,20140828001436,,,,,...,6,3,N,N,N,N,1,8,,2014
1,1235111,664885,40,1991-07-09,0,199203161090,071,001,664885,C,...,0,26,N,N,N,N,18,3,11,1991
2,2704079,423943,50,2014-10-11,0,20141205000558,,,,,...,6,15,N,N,N,N,18,8,18 31 51,2014
3,2584094,403700,715,2013-01-04,0,20130110000910,,,,,...,6,15,N,N,N,N,11,8,18 31 38,2013
4,3027422,213043,120,2019-12-20,560000,20191226000848,,,,,...,6,3,N,N,N,N,1,8,,2019

In [9]:
# test if this gets all rows from 2019
rps[rps['year'] == 2019]

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning,year
4,3027422,213043,120,2019-12-20,560000,20191226000848,,,,,...,6,3,N,N,N,N,1,8,,2019
118,2999169,919715,200,2019-07-08,192000,20190712001080,,,,,...,2,3,N,N,N,N,1,3,,2019
144,3000673,894444,200,2019-06-26,185000,20190722001395,,,,,...,2,3,N,N,N,N,1,3,,2019
164,3002257,940652,630,2019-07-22,435000,20190730001339,,,,,...,6,3,N,N,N,N,1,8,,2019
445,2980836,937630,695,2019-03-28,550000,20190404001008,,,,,...,6,3,N,N,N,N,1,8,,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089056,3004408,66000,2210,2019-08-07,41040000,20190812000849,,,,,...,7,22,N,N,N,N,18,2,45,2019
2089057,3004408,66000,2225,2019-08-07,41040000,20190812000849,,,,,...,7,22,N,N,N,N,18,2,45,2019
2089058,3004408,66000,2195,2019-08-07,41040000,20190812000849,,,,,...,7,22,N,N,N,N,18,2,45,2019
2089059,3004408,66000,2220,2019-08-07,41040000,20190812000849,,,,,...,7,22,N,N,N,N,18,2,45,2019
2089082,3009227,192300,170,2019-09-03,1550000,20190909000838,,,,,...,6,3,N,N,N,N,1,8,,2019

In [10]:
# create data frame with just data from 2019
rps_2019 = rps[rps['year'] == 2019]
rps_2019.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning,year
4,3027422,213043,120,2019-12-20,560000,20191226000848,,,,,...,6,3,N,N,N,N,1,8,,2019
118,2999169,919715,200,2019-07-08,192000,20190712001080,,,,,...,2,3,N,N,N,N,1,3,,2019
144,3000673,894444,200,2019-06-26,185000,20190722001395,,,,,...,2,3,N,N,N,N,1,3,,2019
164,3002257,940652,630,2019-07-22,435000,20190730001339,,,,,...,6,3,N,N,N,N,1,8,,2019
445,2980836,937630,695,2019-03-28,550000,20190404001008,,,,,...,6,3,N,N,N,N,1,8,,2019

In [11]:
# check that only year is 2019:
rps_2019['year'].unique()

array([2019])

In [12]:
rps_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61363 entries, 4 to 2089082
Data columns (total 25 columns):
ExciseTaxNbr          61363 non-null int64
Major                 61363 non-null object
Minor                 61363 non-null object
DocumentDate          61363 non-null datetime64[ns]
SalePrice             61363 non-null int64
RecordingNbr          61363 non-null object
Volume                61363 non-null object
Page                  61363 non-null object
PlatNbr               61363 non-null object
PlatType              61363 non-null object
PlatLot               61363 non-null object
PlatBlock             61363 non-null object
SellerName            61363 non-null object
BuyerName             61363 non-null object
PropertyType          61363 non-null int64
PrincipalUse          61363 non-null int64
SaleInstrument        61363 non-null int64
AFForestLand          61363 non-null object
AFCurrentUseLand      61363 non-null object
AFNonProfitUse        61363 non-null object
AFHistoricProperty    61363 non-null object
SaleReason            61363 non-null int64
PropertyClass         61363 non-null int64
SaleWarning           61363 non-null object
year                  61363 non-null int64
dtypes: datetime64[ns](1), int64(8), object(16)
memory usage: 12.2+ MB

As you can see, there are no null rows for any of the columns.  However when we preview the head of the data we can see blank values for columns like 'Volume', 'Page' and 'PlateNbr' etc... They're listed as 'objects' so perhaps they are all just empty strings?  

We can also see from the preivew that the columns `AFForestLand`, `AFCurrentUseLand`, `AFNonProfitUse`, and `AFHistoricProperty` all have 'N's as entries and have no look up codes available.  Let's preview these columns more closely...

In [13]:
columns = list(rps_2019.columns)

In [14]:
# don't need to see unique entries of dates...
columns.remove('DocumentDate')

In [15]:
# Find unique values for columns:
for col in columns:
    print(f"Unique entries for {col}: {rps_2019[col].unique()}")

Unique entries for ExciseTaxNbr: [3027422 2999169 3000673 ... 2998779 3004408 3009227]
Unique entries for Major: [213043 919715 894444 ... 135400 156270 638657]
Unique entries for Minor: [120 200 630 ... 2561 9437 4239]
Unique entries for SalePrice: [  560000   192000   185000 ...   632075   700988 41040000]
Unique entries for RecordingNbr: ['20191226000848' '20190712001080' '20190722001395' ... '20190711000444'
 '20190812000849' '20190909000838']
Unique entries for Volume: ['   ']
Unique entries for Page: ['   ']
Unique entries for PlatNbr: ['      ']
Unique entries for PlatType: [' ']
Unique entries for PlatLot: ['              ']
Unique entries for PlatBlock: ['       ']
Unique entries for SellerName: ['DOYLE REGAN M+STERLING C                          '
 'WAGNERESTATES LLC                                 '
 'MAY THOMAS A+SHIRLEY E                            ' ...
 'KURUP REVATHY                                     '
 '1901 MINOR LLC                                    '
 'LEONG JOHNNY                                      ']
Unique entries for BuyerName: ['SHAW HEATHER C                                    '
 'SCHAFFER CORBIN                                   '
 'KOCHEL RICHARD J+JANICE M                         ' ...
 'LY HEIDI+KO                                       '
 '1901 MINOR SEATTLE LP                             '
 'KESSLER CREDIT TRUST                              ']
Unique entries for PropertyType: [11  3 14 51  1 10  2 59 91 16  4 12  5  0 13 58 69 50 99 63 18 45 79 83
 65 94  6 53 68 44 54 39 85 64 86 55 47 19 88 17 33 15 96 27 23 46 48 52
 61 81  9 66 21 74]
Unique entries for PrincipalUse: [ 6  2  7 11  9  4 10  3  0  5  8]
Unique entries for SaleInstrument: [ 3 15 27 26 22  4  2 24 18 21 20 10 19 23 13  0  5 25  7  8  6  1]
Unique entries for AFForestLand: ['N' 'Y']
Unique entries for AFCurrentUseLand: ['N' 'Y']
Unique entries for AFNonProfitUse: ['N' 'Y']
Unique entries for AFHistoricProperty: ['N' 'Y']
Unique entries for SaleReason: [ 1 18 19 10 13 11 16  5 12  8  4 14  9  6 15  3  7 17]
Unique entries for PropertyClass: [8 3 2 7 9 1 0 6]
Unique entries for SaleWarning: [' ' '10' '18 51 52' '18 31 51 52' '18 31 51' '31' '16 18 31'
 '12 18 31 51' '40' '18' '18 31 38' '45' '11 18 31' '52' '20 31'
 '12 31 51' '12' '31 51' '15 18 51' '10 15' '18 51' '11 18 31 45' '15 23'
 '35' '15' '31 49 51' '49' '45 49' '33' '34' '46' '12 18 31' '12 51 52'
 '12 31' '54' '15 51' '12 52' '15 46' '14 31' '24 31' '22 45 51'
 '31 51 52' '12 31 51 52' '31 45' '2' '51' '12 15 27' '13 23' '31 45 51'
 '13 31' '13' '15 48' '45 51' '11 18 31 51' '12 45' '11 31' '56' '41' '7'
 '12 31 45 51' '4' '26' '13 15 31' '10 56' '24' '17' '12 51'
 '18 27 31 45 51 52' '20' '11 12 31' '18 22' '17 20 31 51' '48' '18 32'
 '13 26 31' '15 17 26 46' '22' '12 18 31 51 52' '45 56' '12 15' '15 46 52'
 '15 40' '11 45' '18 20 31 51' '11 31 45 52' '16 27 31 45' '18 31 45 51'
 '26 56' '32 51' '18 20 31' '16 31' '15 24' '18 31 45 49' '18 31 48 51'
 '11' '18 31 45 51 52' '59' '13 14 15 31 49' '15 45' '20 45' '26 51'
 '12 18 51' '12 45 51' '15 18' '11 31 45' '12 31 49 51' '33 59' '43' '36'
 '15 26' '12 31 45' '15 17' '11 18' '45 54' '12 26 60' '15 49 51' '17 54'
 '12 18 31 45 51' '18 31 49 51' '15 36 56' '18 31' '31 38' '15 51 52'
 '15 54' '15 56' '14' '40 52' '10 15 46' '12 18 51 52' '18 30 45 51'
 '31 32 56' '12 49' '18 22 31 51' '18 45 51' '18 52' '22 51' '16 24 31'
 '18 31 49 51 52' '16' '12 46' '26 46' '28' '15 52' '43 45' '10 60'
 '12 26' '10 11 56' '18 56' '12 31 48' '10 15 56' '7 31 51' '11 12 18 31'
 '5 51 52' '10 29' '22 52' '18 45 49 51 52' '15 18 31 51' '18 20 31 52'
 '15 25 36 57' '11 26' '12 31 35 51' '51 52' '12 18 31 45 49 51'
 '18 45 51 52' '23 60' '10 12' '18 23 52' '60' '46 51 52' '42' '23 51'
 '12 18 31 45' '12 48 51 52' '44' '18 32 52' '36 45' '32' '12 20 31 45'
 '23 31 51' '41 52' '10 45' '26 31' '15 45 46' '12 15 51' '15 27 46'
 '18 22 51' '12 26 51' '11 18 20 31' '18 20 31 45 51' '20 31 45'
 '15 22 26 51' '31 52' '13 45' '14 23 31' '12 15 26' '2 45' '3' '13 18'
 '10 18 31 51' '12 30 52' '15 18 32 45 52' '5' '15 36' '30 46' '18 31 52'
 '29' '11 18 45' '18 32 38 51' '12 18 22 51 52' '27 31 45' '18 45' '11 15'
 '14 15 31' '29 45' '22 51 52' '12 46 52' '23 45' '1 45' '11 15 22 51'
 '12 45 52' '13 18 31 49 52' '6 51' '11 12 22' '17 18 22' '15 43'
 '24 31 45' '46 52' '1 33' '11 45 59' '29 45 56' '6 18 31 45'
 '18 20 31 45' '11 18 52' '12 18 31 49' '18 49' '12 26 52' '10 15 45 56'
 '38' '18 22 51 52' '16 18 31 45' '31 45 54' '11 31 49' '45 52' '82'
 '14 31 49' '18 22 31 45 51 52' '42 45' '18 31 38 49' '13 26' '15 49'
 '23 31' '3 26' '13 15' '15 18 32 51' '12 18 27 31 45 51' '1' '5 15 49'
 '24 45' '17 21 45' '8' '12 15 26 46' '16 31 45' '18 31 45' '12 48'
 '6 18 31' '20 31 51' '5 51' '10 36' '12 15 56' '12 22 26'
 '12 18 22 31 51' '14 26 31' '11 18 22 31 45' '12 18 31 35 45 49 51'
 '22 24' '45 46' '11 18 22 31' '49 51' '15 26 31' '18 31 51 54' '20 51'
 '11 18 31 32' '12 15 46' '27' '18 22 49 51 52' '23 31 42' '15 35 51 52'
 '12 18' '41 51' '20 40' '31 45 51 52' '18 31 38 45' '44 51'
 '12 18 31 33 52' '18 31 45 49 51' '12 35 45' '18 31 45 52' '18 49 51'
 '12 22 51' '11 18 30 31' '15 44' '7 12 31 51' '46 51' '14 31 45' '45 48'
 '80' '3 51' '20 48' '26 45' '10 15 45' '6 18 31 52' '12 15 51 52'
 '10 29 45 58' '15 26 46' '27 45' '22 45' '10 11 18 45' '18 20 31 51 52'
 '15 18 45 52' '7 18 31' '12 15 20 31 51' '18 31 32 51' '15 45 51'
 '12 18 31 52' '33 45' '11 18 31 45 52' '12 35' '14 31 51'
 '10 18 21 27 31 44 51 52' '15 22 51' '13 26 45' '31 41' '29 31'
 '12 20 31 51' '11 18 31 49' '15 16 31' '7 20' '5 15' '26 49' '34 36'
 '15 31' '26 52' '18 22 31 35 51 52' '31 41 51' '48 52' '15 36 51'
 '12 18 31 35 45 51' '57' '10 15 29' '19 39' '35 45' '15 45 49'
 '12 31 38 49' '32 45' '30' '16 31 52' '3 46' '2 15 51' '12 22 31 51 52'
 '31 41 45' '18 27 32' '14 15 56' '35 49' '18 49 51 52' '12 46 51' '31 49'
 '18 31 33 38' '11 12 18 45' '18 24 31 45 52' '26 38 46' '12 31 48 51'
 '27 31 42' '11 45 51' '12 15 31 51' '11 31 32' '31 32' '12 31 49'
 '31 48 51' '11 22' '12 15 45' '12 20 31' '15 36 45 51' '10 49' '2 49'
 '18 20 31 38' '15 26 51' '18 31 52 54' '2 11 32' '2 15' '12 15 46 51'
 '20 31 49 52' '15 22 24' '20 27 31 35' '11 15 31 51' '15 36 45'
 '12 15 46 58' '10 46' '11 15 18' '20 31 49' '15 46 51' '11 51'
 '13 15 26 31' '12 18 22 51' '12 13 26' '19' '15 18 46' '45 59'
 '18 22 45 51 52' '7 31 51 52' '11 18 31 52' '11 18 24 31'
 '18 31 35 45 51' '18 33' '20 31 41' '5 59' '15 31 52' '15 31 46'
 '15 18 31 51 52' '2 18 31' '18 20 51' '12 18 31 48' '11 27 31 45'
 '11 15 56' '16 24' '14 20 31' '31 54' '22 46' '46 56' '16 51' '2 31'
 '16 31 42 45' '11 18 51' '35 41' '26 55' '18 24 31' '12 35 51' '10 15 51'
 '18 22 52' '12 15 26 29' '10 11 15' '15 18 31 49 51' '16 18 31 32'
 '18 32 51' '49 60' '15 46 51 52' '12 18 31 45 51 52' '10 11 45'
 '11 15 51' '12 60' '41 49' '15 18 51 52'
 '2 3 11 12 13 18 20 24 31 32 34 38 39 42 43 48 50 54 56 59' '11 31 39'
 '12 24' '12 18 22 31' '35 40' '14 15' '12 15 36 46 52' '10 13 56'
 '15 44 45' '16 45' '12 18 27 31 51' '18 31 45 49 51 52' '45 51 52'
 '31 40 45' '18 22 45' '12 13 18 20 31 51 52' '17 51' '12 32' '22 31'
 '15 20 31' '18 38' '20 22' '33 44 52' '*' '18 31 38 48' '15 24 45'
 '24 52' '10 15 52 56' '13 23 31' '15 22' '13 31 45' '12 22 27 31 51'
 '12 49 51' '2 12' '15 45 56' '11 18 31 48' '15 22 31' '18 31 39'
 '12 31 52' '15 31 51 52' '16 26 31' '13 18 31 51' '11 18 20 31 52'
 '18 20 51 52' '13 18 60' '22 31 45' '26 31 51' '20 30 31' '35 52'
 '12 31 45 49 51' '35 45 52' '15 27 45' '12 14' '31 49 51 52'
 '11 15 31 45' '11 18 20 31 45' '12 15 52' '52 57' '11 20 31 52'
 '27 31 52' '12 26 46' '17 22 45' '26 32 56' '34 45' '14 31 32' '23 46'
 '10 51' '18 22 31 51 52' '18 26 52' '13 49' '17 31 45' '12 54' '55'
 '40 45' '10 12 49' '17 31 45 51' '15 17 44 51' '15 18 22 51 52'
 '16 31 35 45' '14 18 31' '15 22 44' '15 20 45' '15 33 51' '12 27 31 51'
 '15 46 56' '12 46 49' '16 27 31' '15 16' '12 22 27 31 45 51' '2 31 51'
 '13 18 31' '15 29' '31 42 45' '31 45 52' '12 15 31' '15 18 45' '13 24'
 '15 29 51' '13 31 49' '11 20 31 45' '12 22 31 45' '10 26 59'
 '18 26 51 52' '12 18 20 31' '26 45 49' '12 14 31' '1 53' '35 51 52'
 '3 15 26 29' '32 56' '18 22 31 52' '15 26 56' '2 10' '11 31 49 52'
 '2 31 49 52' '12 15 36' '12 18 20 31 49 51' '12 20' '33 46' '12 34'
 '10 26 29 34' '12 13 15' '22 31 51 52' '12 23' '24 51' '11 12 18 31 45'
 '33 52' '23' '31 35 45 51' '10 15 34' '44 45' '15 45 52' '26 31 49'
 '18 23' '15 16 31 42 45']
Unique entries for year: [2019]

So we can see that `Volume`, `Page`, `PlatNbr`, `PlatType`, `PlatLot`, `PlatBlock` all contain white space strings.  These columns could thus easily be droped from the df without loss of data.

Columns `AFForestLand`, `AFCurrentUseLand`, `AFNonProfitUse`, and `AFHistoricProperty` appear to be binary 'Yes/No' responses.  It would probably be best to change these to boolean types instead if they are required features for the model.  If they aren't necessary for analysis they could be dropped.  However, if you want to filter the dataframe based on these criteria then change these columns to boolean types and filter accordingly.

`SellerName` and `BuyerName` also appear to have a lot of white space in the entries.  You could go through and clean this up however the seller/buyer names are probably not relevant to our analysis so we could drop these columns instead.

`year` only has 2019 as we saw before so we don't need to keep track of this (this information is kept in the `DocumentDate` column anyway).

`SaleWarning` contains a lot different pairs of numbers in a string format.  There is also white space entries which would signify that there was no sale warning.  Think about whether you might want to reformat this column to something more helpful/descriptive.  If sale warnings are necessary for analysis, perhaps you could create one-hot-encoding codes for this column for all the different types of sale warnings.  We won't remove this column but we also won't format it just yet until our analysis needs are determined.

### Drop irrelevant columns:

In [16]:
# list of cols to initally drop:
cols_to_drop = ['Volume', 'Page', 'PlatNbr', 'PlatType', 
                'PlatLot', 'PlatBlock', 'SellerName', 'BuyerName', 'year']
rps_2019.drop(columns = cols_to_drop, inplace = True)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
rps_2019.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
4,3027422,213043,120,2019-12-20,560000,20191226000848,11,6,3,N,N,N,N,1,8,
118,2999169,919715,200,2019-07-08,192000,20190712001080,3,2,3,N,N,N,N,1,3,
144,3000673,894444,200,2019-06-26,185000,20190722001395,3,2,3,N,N,N,N,1,3,
164,3002257,940652,630,2019-07-22,435000,20190730001339,11,6,3,N,N,N,N,1,8,
445,2980836,937630,695,2019-03-28,550000,20190404001008,3,6,3,N,N,N,N,1,8,

In [18]:
rps_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61363 entries, 4 to 2089082
Data columns (total 16 columns):
ExciseTaxNbr          61363 non-null int64
Major                 61363 non-null object
Minor                 61363 non-null object
DocumentDate          61363 non-null datetime64[ns]
SalePrice             61363 non-null int64
RecordingNbr          61363 non-null object
PropertyType          61363 non-null int64
PrincipalUse          61363 non-null int64
SaleInstrument        61363 non-null int64
AFForestLand          61363 non-null object
AFCurrentUseLand      61363 non-null object
AFNonProfitUse        61363 non-null object
AFHistoricProperty    61363 non-null object
SaleReason            61363 non-null int64
PropertyClass         61363 non-null int64
SaleWarning           61363 non-null object
dtypes: datetime64[ns](1), int64(7), object(8)
memory usage: 8.0+ MB

In [19]:
# create a list of columns that I want to be bools:
cols_to_bool = ['AFForestLand', 'AFCurrentUseLand', 'AFNonProfitUse', 'AFHistoricProperty']
for col in cols_to_bool:
    for item in rps_2019[col]:
        if item == 'N':


# rps_2019[cols_to_bool] = rps_2019[cols_to_bool].astype('bool')

SyntaxError: unexpected EOF while parsing (<ipython-input-19-f06fba91221d>, line 8)